html, body {
  height: 100%;
}

body {
  font: 14px $font_0;
  color: $color_gravel_approx;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_0;
}

a, .btn-link {
  color: $color_primary;
  transition: none;
  cursor: pointer;
  &:hover, &:focus {
    color: $color_secondary;
    outline: 0;
  }
}

%extend_1 {
  border-radius: 13px;
  border: 1px solid;
  font-size: 12px;
  color: rgba($color_gravel_approx, 0.6);
  padding: 4px 18px 4px 25px;
  position: relative;
  text-transform: capitalize;
}

%extend_2 {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  @include position(absolute, 44% auto auto 13px);
}

%extend_3 {
  float: left;
  text-indent: -9999px;
  width: 18px;
  height: 12px;
  background: $url_3 no-repeat -158px -344px;
}

label {
  display: block;
  color: rgba($color_gravel_approx, 0.7);
  text-align: left !important;
  font: 12px $font_0;
  margin-bottom: 6px !important;
  text-transform: uppercase;
}

strong {
  font-family: $font_1;
  font-weight: normal;
}

.has-error {
  font-style: normal;
}

.has-error .select2-container, .has-error textarea, .has-error .form-control {
  border: 1px solid #e15454 !important;
}

.main-container {
  @include outer-container(100%);
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  transition: left 0.4s;
  //padding-top: 63px !important;
  .row {
    margin: 0;
    height: 100%;
  }
}

.content-wrapper {
  padding: 0;
  border-left: 1px solid $color_gallery_approx;
  min-height: 100%;
  width: calc(100% - 62px);
  float: left;
  transition: margin-left 0.3s ease;
  .panel {
    border: 0;
  }
  .panel-body {
    padding: 0;
  }
  .panel-default {
    box-shadow: none;
    margin: 0;
  }
}

.activity-status-draft {
  .active:before {
    background: $color_mandy_approx;
  }
}

.activity-status-completed {
  .active:before {
    background: $color_texas_rose_approx;
  }
}

.activity-status-verified {
  .active:before {
    background: $color_bismark_approx;
  }
}

.activity-status-published {
  .active:before {
    background: $color_emerald_approx;
  }
}

.remove_from_collection,.remove_location {
  background: transparent $url_3 no-repeat -393px 0;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 22px;
  height: 22px;
  padding: 0;
  &:hover,&:focus {
    background: transparent $url_3 no-repeat -393px -197px;
  }
}

.delete, .delete-lite-published-files {
  @extend %extend_3;
  height: 23px;
  background-position: -229px -332px;
  &:hover {
    background-position: -230px -390px;
  }
}

.no-data {
  font-size: 16px;
  font-style: italic;
  color: rgba($color_gravel_approx, 0.7);
  padding: 44px 0 50px;
  background: rgba($color_gravel_approx, 0.06);
  margin: 36px 30px 36px 36px;
  .btn {
    background: $color_primary;
    border: 0;
    line-height: 50px;
    padding: 0 24px 0 52px;
    font-size: 14px;
    display: inline-block;
    margin: 10px auto;
    font-style: normal;
    position: relative;
    &:before {
      background: $url_3 no-repeat -492px -150px;
      content: "";
      @include size(34px 34px);
      @include position(absolute, 5px auto auto 9px);
    }
    &:hover {
      background-color: $color_cerulean_approx;
    }
    & + .btn {
      margin-left: 10px;
    }
  }
}

.no-data .btn-upload:before {
  background-position: -497px -302px;
}

.no-data-btn > .btn {
  display: inline-block;
  margin-left: 10px;
}

.no-data-btn .upload {
  color: $color_white;
  background-position: -483px -292px;
}

.no-activity-data {
  background: rgba($color_gravel_approx, 0.06) $url_5 no-repeat center 79px;
  padding: 204px 0 20px;
}

.published-wrapper .no-document-data {
  margin-top: 14px;
}

.no-document-data, .no-result-data {
  background: rgba($color_gravel_approx, 0.06) $url_6 no-repeat center 79px;
  padding: 204px 0 20px;
}

.no-user-data {
  background: rgba($color_gravel_approx, 0.06) $url_7 no-repeat center 79px;
  padding: 204px 0 20px;
}

.permission select {
  font-size: 13px;
  height: 28px;
  padding: 0;
}

.modal-verify-header {
  border: 0;
}

.print, .override-activity {
  font-size: 12px;
  margin: 0 24px 10px 0;
}

.print {
  background: $url_19 no-repeat 16px 8px;
  box-shadow: 0px 0px 0px 1px #aaa;
  border-radius: 50px;
  color: #777;
  padding: 7px 16px 7px 36px;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    background-position: 16px -31px;
    box-shadow: 0px 0px 0px 1px #555;
  }
}

.override-activity {
  margin: 7px 14px 0 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-color: #ccc;
  font: 14px $font_0;
  margin: 0 5px 5px 0;
}