html, body {
  height: 100%;
}

body {
  font: 14px $font_0;
  color: $color_gravel_approx;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_0;
}

a, .btn-link {
  color: $color_primary;
  transition: none;
  cursor: pointer;
  &:hover, &:focus {
    color: $color_secondary;
    outline: 0;
  }
}

label {
  display: block;
  color: rgba($color_gravel_approx, 0.7);
  text-align: left !important;
  font: 12px $font_0;
  margin-bottom: 6px !important;
  text-transform: uppercase;
}

strong {
  font-family: $font_1;
  font-weight: normal;
}

.has-error {
  font-style: normal;
}

.has-error .select2-container, .has-error textarea, .has-error .form-control {
  border: 1px solid #e15454 !important;
}

.main-container {
  @include outer-container(100%);
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  transition: left 0.4s;
  //padding-top: 63px !important;
  .row {
    margin: 0;
    height: 100%;
  }
}

.content-wrapper {
  padding: 0;
  border-left: 1px solid $color_gallery_approx;
  min-height: 100%;
  width: calc(100% - 62px);
  float: left;
  transition: margin-left 0.3s ease;
  .panel {
    border: 0;
  }
  .panel-body {
    padding: 0;
  }
  .panel-default {
    box-shadow: none;
    margin: 0;
  }
}

.activity-status-draft {
  .active:before {
    background: $color_mandy_approx;
  }
}

.activity-status-completed {
  .active:before {
    background: $color_texas_rose_approx;
  }
}

.activity-status-verified {
  .active:before {
    background: $color_bismark_approx;
  }
}

.activity-status-published {
  .active:before {
    background: $color_emerald_approx;
  }
}

.remove_from_collection,.remove_location {
  background: transparent $url_3 no-repeat -393px 0;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 22px;
  height: 22px;
  padding: 0;
  &:hover,&:focus {
    background: transparent $url_3 no-repeat -393px -197px;
  }
}