// navbar
.navbar.navbar-static {
  padding: 14px 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.navbar-default {
  background: $color_white;
  border: 0;
  border-bottom: 1px solid $color_gallery_approx;
  margin-bottom: 0;
  width: 100%;
  border-radius: 0;
  z-index: 100000000;
  & + div {
    padding-top: 63px !important;
  }
  .downloads {
    border-left: 1px solid #ededed;
    a {
      color: $color_gravel_approx;
      display: block;
      font-size: 13px;
      padding: 23px 14px 23px 34px;
      position: relative;
      &:before {
        background: $url_3 no-repeat -660px -467px;
        content: "";
        @include size(20px);
        @include position(absolute, 21px auto auto 6px);
      }
      &:hover {
        background-color: #f6f6f6;
        text-decoration: none;
      }
    }
  }
}

#bs-example-navbar-collapse-1 {
  padding-left: 0;
}

.navbar-default + .container {
  padding-top: 100px;
}

.navbar-collapse {
  padding-right: 0;
  float: right;
}

.navbar-right {
  float: right;
}

.navbar-collapse {
  display: block;
  border: 0;
}

.navbar-header {
  float: left;
}

.navbar-brand > a {
  background: $url_2 no-repeat 0;
  width: 118px;
  height: 35px;
  padding: 0;
  padding-top: 10px;
  font-size: 14px;
  display: inline-block;
  text-indent: -9999px;
}

.navbar-nav {
  .dropdown-menu {
    position: absolute !important;
    background: $color_white !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
    border-radius: 4px;
    right: 0;
    left: auto;
  }
}

.navbar-admin-dropdown, .add-new-activity, .add-dropdown {
  background: $color_white !important;
  .avatar-img {
    padding: 2px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $color_primary;
    display: inline-block;
    text-align: center;
    img {
      border-radius: 50%;
    }
  }
  .dropdown-toggle {
    padding: 9px 15px 3px 10px;
  }
  .dropdown-menu {
    border: 0;
    border-radius: 0;
    width: 254px !important;
    padding: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    li {
      border-bottom: 1px solid $color_black_haze_approx;
      &:last-child {
        border-bottom: 0;
      }
      a {
        line-height: 42px !important;
        display: block;
        color: #777;
        padding: 5px 15px 5px 25px;
        &:hover {
          background-color: $color_gravel_approx !important;
          color: $color_white !important;
        }
      }
    }
  }
}

.navbar-admin-dropdown li {
  > span {
    display: inline-block;
    font-size: 13px;
    padding: 22px 10px 23px 15px;
    vertical-align: middle;
  }
}

.nav.navbar-admin-dropdown > li {
  float: left;
}

.navbar-default .navbar-nav > li.dropdown:hover {
  color: #555;
  background-color: $color_white;
  > ul {
    display: block;
  }
}

.navbar-admin-dropdown .dropdown-menu li.dashboard-tour {
  > span {
    padding-left: 25px;
    color: #777;
  }
  a {
    padding: 0;
    margin: 17px 20px;
    &:hover {
      background-color: $color_white !important;
      background-position: -500px -661px !important;
    }
    &.No:hover {
      background-position: -550px -661px !important;
    }
  }
}

.version-wrap {
  margin: 15px 14px 8px 0 !important;
}

.version {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  margin-left: 20px;
  &:hover .old-version, &:hover .new-version {
    display: block;
  }
}

.navbar-admin-dropdown .dropdown-menu li a.version-text {
  padding: 0 !important;
  line-height: 30px !important;
}

.version-text {
  border-radius: 17px;
  border: 1px solid $color_concrete;
  font-size: 11px;
  color: rgba($color_gravel_approx, 0.7);
  width: 112px;
  line-height: 30px;
  display: block;
  text-align: center;
  position: relative;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.old-version, .new-version {
  display: none;
  padding: 12px 0;
  position: absolute;
  width: 238px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  z-index: 1;
  top: 40px;
  left: -50%;
  text-align: center;
  &:before {
    background: $color_white;
    box-shadow: 1px -1px 2px 0px rgba(0,0,0,0.1);
    content: "";
    @include position(absolute,-4px auto auto 50%);
    @include size(8px);
    transform: rotate(-45deg);
  }
}

.old .version-text {
  cursor: pointer;
  &:after {
    content: "";
    background: $color_mandy_approx;
    @include size(11px);
    border-radius: 50%;
    @include position(absolute, auto -4px auto auto);
  }
}

.old-version {
  background: $color_primary;
  color: $color_white;
  a {
    color: inherit;
    text-decoration: none !important;
    padding: 12px 0 !important;
    line-height: normal !important;
    display: block;
    color: $color_white !important;
    &:hover {
      &:before {
       background: $color_gravel_approx !important;
      }
    }
  }
  &:before {
    background: $color_primary !important;
  }
}

.new-version {
  background: $color_white;
  color: rgba($color_gravel_approx, 0.7);
}

.navbar-admin-dropdown .dropdown-menu li .old-version:hover {
  background: $color_gravel_approx !important;
  &:before {
    border-bottom-color: $color_gravel_approx !important;
  }
}

.navbar-admin-dropdown .dropdown-menu li .old-version a {
  line-height: normal !important;
  background: transparent !important;
}

.navbar-admin-dropdown .dropdown-menu li .old a.version-text:hover {
  text-decoration: none;
  background: transparent !important;
  color: #777 !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #777;
}

.avatar-img + .caret {
  margin-top: -30px;
  margin-left: -3px;
}

.language-select-wrap {
  padding: 10px 20px 5px;
  label {
    color: rgba($color_gravel_approx, 0.7);
  }
}

.flag-wrapper {
  display: inline-block;
}

.flag-icon-background {
  width: 30px;
  border: 0;
  padding: 0;
  height: 30px;
  margin-right: 4px;
  opacity: 0.5;
  cursor: pointer;
  background-color: transparent !important;
  &:hover {
    background-color: transparent !important;
    opacity: 1;
  }
}

.flag-icon-background.active {
  opacity: 1;
}

.flag-icon-en {
  background-image: url(../flags/4x3/gb.svg);
}

.flag-icon-en.flag-icon-squared {
  background-image: url(../flags/1x1/gb.svg);
}

.add-new-activity {
  border-left: 1px solid $color_gallery_approx;
  border-right: 1px solid $color_gallery_approx;
  li.dropdown {
    > a {
      background: $url_3 no-repeat -143px 22px;
      font-size: 13px;
      color: $color_gravel_approx;
      padding: 22px 12px 22px 30px;
      display: block;
      .caret {
        float: right;
        margin: 9px 0 0 9px;
      }
    }
    &:hover > a {
      background-color: #f6f6f6;
      color: $color_gravel_approx !important;
    }
    > a:hover, > a:focus {
      color: $color_gravel_approx !important;
    }
  }
}

.caret {
  color: $color_silver;
}
