//colors

$color_white: #fff;
$color_gravel_approx: #484848;
$color_silver: #c0c0c0;
$color_black_squeeze_approx: #F2F9FC;
$color_ziggurat_approx: #BFDFEC;
$color_primary: #00A8FF;
$color_secondary: #038ED6;
$color_gallery_approx: #ededed;
$color_white_lilac_approx: #f6f8fa;
$color_white_lilac: #F7FBFD;
$color_concrete: #f2f2f2;
$color_black_haze_approx: #f6f6f6;
$color_alabaster_approx: #f9f9f9;
$color_emerald_approx: #52cc88;
$color_texas_rose_approx: #feb752;
$color_mandy_approx: #e15454;
$color_aqua_spring_approx: #ecfff5;
$color_magic_mint_approx: #b4eccd;
$color_emerald_approx: #52cc88;
$color_seashell: #f1f1f1;
$color_rose_white_approx: #fff5f5;
$color_cinderella_approx: #fddede;
$color_old_lace_approx: #fff4e5;
$color_wheat_approx: #f3dbb9;
$color_alice_blue_approx: #eef9ff;
$color_link_water_approx: #d5e8f3;
$color_bismark_approx: #4f7286;
$color_cerulean_approx: #0598e5;
$color_chicago_approx: #5a5a5a;
$color_romance_approx: #fdfdfd;
$color_gallery: #efefef;
$color_mabel_approx: #d9f1fe;
$color_black_approx: #262626;
$color_hawkes_blue_approx: #cbe9f7;
$color_aqua_squeeze_approx: #e4f1f7;
$color_mountain_mist_approx: #969696;
$color_granny_apple_approx: #d5f2e2;
$color_sugar_cane_approx: #f5fff9;
$color_rose_white_approx: #fff7f7;
$color_pippin_approx: #ffe2e2;
$color_bridal_heath_approx: #fffaf2;
$color_sandy_beach_approx: #ffebca;
$color_silver_chalice_approx: #aaa;

//fonts
$font_0: Open-Sans-Regular;
$font_1: Open-Sans-Bold;
$font_2: Open-Sans-Light;

@include font-face($font_0, "../../fonts/opensans-regular-webfont", $file-formats: eot svg woff woff2);
@include font-face($font_1, "../../fonts/opensans-bold-webfont", $file-formats: eot svg woff woff2);
@include font-face($font_2, "../../fonts/opensans-light-webfont", $file-formats: eot svg woff woff2);

$url_1: url(../../images/login-bg.jpg);
$url_2: url(../../images/logo-text.svg);
$url_3: url(../../images/ic-sprite.svg);
$url_4: url(../../images/ic-status-sprite.svg);
$url_5: url(../../images/ic-no-activity.svg);
$url_6: url(../../images/ic-no-document.svg);
$url_7: url(../../images/ic-no-user.svg);
$url_8: url(../../images/404page.svg);
$url_9: url(../../images/ic-top-arrow.svg);
$url_10: url(../../images/ic-line-bg.png);
$url_11: url(../../images/ic-sort-both.svg);
$url_12: url(../../images/ic-sort-asc.svg);
$url_13: url(../../images/ic-sort-desc.svg);
$url_14: url(../../images/ic-trigger.svg);
$url_15: url(../../images/ic-sync.svg);
$url_16: url(../../images/ic-csv-status.svg);
$url_17: url(../../images/ic-action-sprite.svg);
$url_18: url(../../images/ic-activity-link.svg);
$url_19: url(../../images/ic-print.svg);
$url_20: url(../../images/ic-side-arrow.svg);
$url_21: url(../../images/ic-left-arrow.svg);
$url_22: url(../../images/ic-camera.svg);
$url_23: url(../../images/ic-org-sprite.svg);
$url_24: url(../../images/ic-warning.svg);
$url_25: url(../../images/ic-verified.svg);
$url_26: url(../../images/ic-date.svg);
$url_27: url(../../images/ic-activity-action-sprite.svg);