@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #477dca;
  border: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
     -moz-transition: background-color 150ms ease;
       -o-transition: background-color 150ms ease;
          transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select, .form-control[readonly] {
  background-color: #F2F9FC !important;
  border: 1px solid #BFDFEC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
     -moz-transition: border-color 150ms ease;
       -o-transition: border-color 150ms ease;
          transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select:focus, .form-control[readonly]:focus {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select:disabled, .form-control[readonly]:disabled {
    background-color: #e6edef;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select:disabled:hover, .form-control[readonly]:disabled:hover {
      border: #F2F9FC; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
     -moz-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
     -moz-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
     -moz-transition: color 150ms ease;
       -o-transition: color 150ms ease;
          transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

@font-face {
  font-family: Open-Sans-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../../fonts/opensans-regular-webfont.woff") format("woff"), url("../../fonts/opensans-regular-webfont.svg#Open-Sans-Regular") format("svg"); }

@font-face {
  font-family: Open-Sans-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../../fonts/opensans-bold-webfont.woff") format("woff"), url("../../fonts/opensans-bold-webfont.svg#Open-Sans-Bold") format("svg"); }

@font-face {
  font-family: Open-Sans-Light;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-light-webfont.woff2") format("woff2"), url("../../fonts/opensans-light-webfont.woff") format("woff"), url("../../fonts/opensans-light-webfont.svg#Open-Sans-Light") format("svg"); }

html, body {
  height: 100%; }

body {
  font: 14px Open-Sans-Regular;
  color: #484848; }

a, .btn-link {
  color: #00A8FF;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none; }
  a:hover, a:focus, .btn-link:hover, .btn-link:focus {
    color: #038ED6; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: #F2F9FC !important; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select, button {
  font: normal 16px Open-Sans-Regular;
  color: #484848; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select:focus, button:focus {
    outline: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select.form-control {
  height: 45px;
  border: 1px solid #BFDFEC; }

input {
  font-weight: normal !important; }
  input:focus {
    outline: none; }

.alert {
  margin-bottom: 0; }

.tooltip {
  background: #52cc88;
  width: 240px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: -14px 0 0 -6px !important;
  opacity: 1 !important; }
  .tooltip .tooltip-inner {
    background: transparent;
    font: normal 12px/18px Open-Sans-Regular;
    padding: 16px 20px;
    max-width: 100%;
    text-align: left; }

.tooltip.top .tooltip-arrow {
  border-top-color: #52cc88;
  bottom: -9px;
  border-width: 14px 11px 0; }

.table > thead > tr > th {
  text-transform: uppercase;
  font: normal 12px Open-Sans-Regular;
  color: #484848;
  border-bottom: 1px solid rgba(72, 72, 72, 0.1); }
  .table > thead > tr > th:first-child {
    padding-left: 37px;
    padding-right: 22px; }

.table > tbody > tr {
  background: #fff !important; }
  .table > tbody > tr > td {
    border: 0;
    padding: 15px 8px 12px; }
    .table > tbody > tr > td:first-child {
      padding-left: 37px;
      padding-right: 22px; }
  .table > tbody > tr:nth-child(even) {
    background: #f6f8fa !important; }

label {
  display: block;
  color: rgba(72, 72, 72, 0.7);
  text-align: left !important;
  font: 14px Open-Sans-Regular;
  margin-bottom: 6px !important; }

.login-wrapper {
  background: url(../../images/login-bg.jpg) no-repeat bottom/cover;
  padding: 84px 0 80px;
  min-height: 100%; }

.login-container {
  max-width: 392px;
  margin-left: auto;
  margin-right: auto; }
  .login-container::after {
    clear: both;
    content: "";
    display: table; }

.form-body {
  width: 100%;
  float: none;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
  padding: 0 0 44px;
  margin: 0 0 24px; }
  .form-body .panel {
    margin: 0;
    border-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .form-body .panel-heading {
    background: none;
    border: 0;
    text-align: center;
    margin: 75px 0 54px;
    padding: 0; }
  .form-body .panel-body {
    padding: 0 33px 0 39px; }
  .form-body .col-md-12 {
    padding: 0; }

.form-body .form-group {
  margin: 0; }
  .form-body .form-group .col-md-6 {
    padding: 0; }
  .form-body .form-group .checkbox label, .form-body .form-group .btn-link {
    font-size: 13px; }

.btn-submit {
  border: 2px solid #00A8FF;
  background: #fff;
  font-size: 15px;
  line-height: 37px;
  width: 100%;
  color: #00A8FF;
  margin-top: 24px; }
  .btn-submit:hover, .btn-submit:focus, .btn-submit:active {
    background: #00A8FF;
    border: 2px solid #00A8FF;
    color: #fff; }

.create-account-wrapper {
  font-size: 15px;
  margin-bottom: 100px;
  color: #fff;
  padding: 0 10px;
  text-align: center; }

.logo-text {
  font: 22px 'Bree Serif', serif;
  color: #c0c0c0;
  text-align: center;
  margin-bottom: 6px; }

.support-desc {
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 276px;
  margin: 0 auto;
  float: none;
  clear: both; }

.panel-title {
  font: 32px Open-Sans-Light;
  padding-top: 30px; }

.register-container {
  max-width: 814px;
  margin-left: auto;
  margin-right: auto; }
  .register-container::after {
    clear: both;
    content: "";
    display: table; }

.input-wrapper {
  overflow: hidden;
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .input-wrapper > .col-md-12 .col-md-6:last-child {
    padding-right: 0; }
  .input-wrapper > .col-md-12 .col-md-6:first-child {
    padding: 0 15px 0 0; }

.no-border {
  border: 0;
  padding: 0;
  margin: 0; }

.btn-register {
  max-width: 174px; }

.navbar-default {
  background: #fff;
  border-bottom: 1px solid #ededed;
  margin-bottom: 0;
  border-top: 0; }

.navbar-collapse {
  padding-right: 0; }

.navbar-brand {
  background: url(../../images/logo-text.png) no-repeat 16px;
  text-indent: -9999px;
  display: block;
  width: 142px;
  height: 35px;
  padding: 0;
  margin: 13px 16px; }

.navbar-admin-dropdown, .add-new-activity {
  background: #f6f8fa; }
  .navbar-admin-dropdown .avatar-img, .add-new-activity .avatar-img {
    width: 45px;
    line-height: 43px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    display: inline-block;
    text-align: center; }
  .navbar-admin-dropdown .dropdown-toggle, .add-new-activity .dropdown-toggle {
    padding: 9px 16px 3px; }
  .navbar-admin-dropdown .dropdown-menu, .add-new-activity .dropdown-menu {
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    width: 254px;
    padding: 0; }
    .navbar-admin-dropdown .dropdown-menu li, .add-new-activity .dropdown-menu li {
      border-bottom: 1px solid #f6f6f6; }
      .navbar-admin-dropdown .dropdown-menu li:last-child, .add-new-activity .dropdown-menu li:last-child {
        border-bottom: 0; }
      .navbar-admin-dropdown .dropdown-menu li a, .add-new-activity .dropdown-menu li a {
        line-height: 42px;
        display: block; }
        .navbar-admin-dropdown .dropdown-menu li a:hover, .add-new-activity .dropdown-menu li a:hover {
          background-color: #484848;
          color: #fff; }

.avatar-img + .caret {
  margin-top: -30px; }

.language-select-wrap {
  padding: 10px 20px 5px; }
  .language-select-wrap label {
    color: #484848; }

.flag-wrapper {
  display: inline-block; }

.flag-icon-background {
  width: 30px;
  border: 0;
  padding: 0;
  height: 30px;
  margin-right: 4px;
  opacity: 0.5; }
  .flag-icon-background:hover {
    background-color: transparent !important; }

.flag-icon-background.active {
  opacity: 1; }

.add-new-activity {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed; }
  .add-new-activity li.dropdown > a {
    background: url(../../images/ic-sprite.png) no-repeat -140px 20px;
    font-size: 13px;
    color: #484848;
    padding: 21px 16px 21px 34px;
    display: block; }
    .add-new-activity li.dropdown > a .caret {
      margin-left: 5px; }

.caret {
  color: #c0c0c0; }

.sidebar-wrapper {
  margin-right: 0;
  padding: 0; }
  .sidebar-wrapper .panel {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .sidebar-wrapper .panel-body {
    padding: 0; }
  .sidebar-wrapper ul li {
    border-bottom: 1px solid #ededed; }
    .sidebar-wrapper ul li a {
      font-size: 13px;
      color: #484848;
      line-height: 63px;
      display: block;
      position: relative;
      padding: 0 0 0 62px; }
      .sidebar-wrapper ul li a:before {
        content: "";
        background: url(../../images/ic-sprite.png) no-repeat 0 0;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 24%;
        right: auto;
        bottom: auto;
        left: 16px; }
      .sidebar-wrapper ul li a:hover {
        background-color: #484848;
        color: #fff; }
        .sidebar-wrapper ul li a:hover:before {
          background-position: -73px 0; }
  .sidebar-wrapper .activities a:before {
    top: 30%; }
  .sidebar-wrapper .organization a:before {
    background-position: 0 -59px;
    top: 24%; }
  .sidebar-wrapper .organization a:hover:before {
    background-position: -73px -59px; }
  .sidebar-wrapper .published-files a:before {
    background-position: 0 -127px;
    top: 30%; }
  .sidebar-wrapper .published-files a:hover:before {
    background-position: -73px -127px; }
  .sidebar-wrapper .users a:before {
    background-position: 0 -188px; }
  .sidebar-wrapper .users a:hover:before {
    background-position: -73px -188px; }
  .sidebar-wrapper .documents a:before {
    background-position: 0 -252px; }
  .sidebar-wrapper .documents a:hover:before {
    background-position: -73px -252px; }
  .sidebar-wrapper .downloads a:before {
    background-position: 0 -316px; }
  .sidebar-wrapper .downloads a:hover:before {
    background-position: -73px -316px; }
  .sidebar-wrapper .settings a:before {
    background-position: 0 -380px; }
  .sidebar-wrapper .settings a:hover:before {
    background-position: -73px -380px; }

.breadcrumb-wrapper {
  padding: 26px 37px 20px;
  overflow: hidden; }
  .breadcrumb-wrapper li {
    float: left;
    font-size: 12px;
    color: rgba(72, 72, 72, 0.7);
    padding: 0 2px; }
    .breadcrumb-wrapper li:before {
      content: "/";
      display: inline-block;
      padding-right: 2px; }
    .breadcrumb-wrapper li:first-child {
      padding-left: 0; }
      .breadcrumb-wrapper li:first-child:before {
        content: ""; }
    .breadcrumb-wrapper li a {
      color: rgba(0, 168, 255, 0.7); }

.main-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  padding: 0; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }
  .main-container .row {
    margin: 0;
    height: 100%; }

.content-wrapper {
  padding: 0;
  border-left: 1px solid #ededed;
  min-height: 100%; }
  .content-wrapper .panel {
    border: 0; }
  .content-wrapper .panel-body {
    padding: 0; }
  .content-wrapper .panel-default {
    -webkit-box-shadow: none;
            box-shadow: none; }

.panel-content-heading {
  background: #f9f9f9;
  font-size: 32px;
  color: #484848;
  border-bottom: 0;
  padding: 10px 37px 11px; }

.activity_title {
  font-family: Open-Sans-Bold; }

.updated-date {
  color: rgba(72, 72, 72, 0.5); }

.draft, .completed, .verified, .published {
  -webkit-border-radius: 13px;
          border-radius: 13px;
  border: 1px solid;
  font-size: 12px;
  color: rgba(72, 72, 72, 0.6);
  padding: 4px 18px 4px 25px;
  position: relative;
  text-transform: capitalize;
  margin-left: -12px; }

.draft:before, .completed:before, .verified:before, .published:before {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 44%;
  right: auto;
  bottom: auto;
  left: 13px; }

.draft {
  border-color: #e15454; }
  .draft:before {
    background: #e15454; }

.completed {
  border-color: #feb752; }
  .completed:before {
    background: #feb752; }

.verified {
  border-color: #4f7286; }
  .verified:before {
    background: #4f7286; }

.published {
  border-color: #52cc88; }
  .published:before {
    background: #52cc88; }

.view, .delete {
  float: left;
  text-indent: -9999px;
  width: 18px;
  height: 12px;
  background: url(../../images/ic-sprite.png) no-repeat -158px -344px; }

.view {
  margin: 9px 0 0; }
  .view:hover {
    background-position: -159px -401px; }

.delete {
  height: 23px;
  background-position: -227px -332px;
  margin-left: 10px; }
  .delete:hover {
    background-position: -228px -390px; }

.no-data {
  font-size: 17px;
  font-style: italic;
  color: rgba(72, 72, 72, 0.7);
  padding: 44px 0 50px !important;
  background: rgba(72, 72, 72, 0.06); }

.element-panel-heading {
  background: #f9f9f9;
  padding: 10px 37px;
  overflow: hidden; }
  .element-panel-heading span {
    font-size: 32px; }
  .element-panel-heading form {
    margin-top: 4px; }

.panel-level-1 .panel-default .panel-heading {
  font-size: 14px;
  color: rgba(72, 72, 72, 0.7); }

.panel-level-1 .panel {
  margin-bottom: 0; }

.panel-level-1 .panel + .panel {
  margin-top: 20px; }

.panel-level-2 {
  padding-right: 0;
  margin-top: 20px; }

.element-content-wrapper {
  padding: 0;
  margin-top: 20px; }
  .element-content-wrapper .panel-heading {
    background: transparent; }
  .element-content-wrapper h3 {
    padding: 0 40px; }

.activity-status {
  background: #fff5f5;
  padding: 30px 30px 18px;
  text-align: center;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 48px; }
  .activity-status ol {
    width: 440px;
    margin: 0 auto; }
    .activity-status ol li {
      float: left;
      font-size: 12px;
      color: rgba(72, 72, 72, 0.7);
      position: relative;
      width: 132px;
      text-align: left;
      border-top: 6px solid #fddede; }
      .activity-status ol li > span {
        color: rgba(72, 72, 72, 0.7);
        display: block;
        margin-top: 6px;
        margin-left: -12px;
        text-transform: capitalize; }
      .activity-status ol li:before {
        content: "";
        position: absolute;
        top: -10px;
        right: auto;
        bottom: auto;
        left: -1px;
        width: 13px;
        height: 13px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #fddede; }
      .activity-status ol li:nth-child(2):before {
        left: 10px; }
      .activity-status ol li:nth-child(3):before {
        left: 8px; }
      .activity-status ol li:last-child {
        width: auto; }
        .activity-status ol li:last-child:before {
          right: -1px;
          left: auto; }
        .activity-status ol li:last-child span {
          margin-right: -13px; }
    .activity-status ol .active:before {
      background: #e15454; }

.activity-status-completed {
  background: #fff4e5; }
  .activity-status-completed ol li {
    border-color: #f3dbb9; }
    .activity-status-completed ol li:before {
      background: #f3dbb9; }
  .activity-status-completed ol .active:before {
    background: #feb752; }

.activity-status-verified {
  background: #eef9ff; }
  .activity-status-verified ol li {
    border-color: #d5e8f3; }
    .activity-status-verified ol li:before {
      background: #d5e8f3; }
  .activity-status-verified ol .active:before {
    background: #4f7286; }

.activity-status-published {
  background: #ecfff5; }
  .activity-status-published ol li {
    border-color: #b4eccd; }
    .activity-status-published ol li:before {
      background: #b4eccd; }
  .activity-status-published ol .active:before {
    background: #52cc88; }

.panel-element-detail {
  padding: 0 36px; }
  .panel-element-detail > .panel-default {
    margin-bottom: 42px; }
  .panel-element-detail .panel-heading {
    font-size: 22px;
    padding: 0 0 10px;
    border: 0;
    background: transparent; }
  .panel-element-detail > .panel-body > .panel {
    margin-bottom: 40px; }

.panel-element-body {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #f9f9f9;
  overflow: hidden; }
  .panel-element-body > .col-md-12 {
    border-bottom: 1px solid #f1f1f1;
    font-size: 12px;
    padding: 12px 4px; }
    .panel-element-body > .col-md-12:last-child {
      border-bottom: 0; }

.edit-element {
  float: right;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  background: url(../../images/ic-sprite.png) no-repeat -154px -261px; }
  .edit-element:hover {
    background-position: -221px -261px; }

.element-sidebar-wrapper {
  padding: 0;
  border-left: 1px solid #ededed; }
  .element-sidebar-wrapper .panel-heading {
    background: transparent;
    font: 12px 'Open-Sans-Bold';
    text-transform: uppercase;
    color: #484848;
    border-color: #ededed;
    padding: 10px 22px; }
  .element-sidebar-wrapper .panel-default {
    margin-bottom: 30px; }
  .element-sidebar-wrapper .panel-body li {
    border-bottom: 1px solid #ededed;
    display: inline-block;
    width: 100%;
    position: relative; }
    .element-sidebar-wrapper .panel-body li a {
      color: #484848;
      font-size: 12px;
      padding: 15px 22px; }
      .element-sidebar-wrapper .panel-body li a:hover {
        background: transparent;
        color: #00A8FF; }

.help-text {
  float: right;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  background: url(../../images/ic-sprite.png) no-repeat -152px -200px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  bottom: auto;
  left: auto; }
  .help-text:hover {
    background-position: -222px -200px; }

.form-group .help-text {
  right: -30px;
  top: 41px; }

.element-sidebar-wrapper {
  padding-right: 0; }

.create-form, .create-activity-form {
  padding: 14px 40px 30px;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 28px; }
  .create-form .panel-body > div:first-child, .create-activity-form .panel-body > div:first-child {
    padding-left: 0; }
  .create-form .panel-body > div:last-child, .create-activity-form .panel-body > div:last-child {
    padding-right: 0; }

.btn-create {
  background: #00A8FF url(../../images/ic-sprite.png) no-repeat -204px -122px;
  font-size: 14px;
  text-transform: uppercase;
  border-color: #00A8FF;
  width: 206px;
  line-height: 28px;
  margin-top: 20px;
  float: left;
  clear: both; }
  .btn-create:hover, .btn-create:focus {
    background-color: #0598e5;
    border-color: #0598e5; }

.panel-activity-default .panel-element-body > .col-md-6 {
  padding: 18px 0 0;
  font-size: 13px; }
  .panel-activity-default .panel-element-body > .col-md-6:last-child {
    padding-bottom: 20px; }

.panel-title-heading {
  font-size: 22px;
  color: #5a5a5a;
  padding: 17px 37px; }
  .panel-title-heading span {
    font-style: italic;
    color: rgba(90, 90, 90, 0.7); }

.collection_form {
  clear: both; }
  .collection_form + .collection_form {
    padding-top: 24px; }

.create-form {
  position: relative;
  padding-bottom: 80px; }
  .create-form > form {
    background: #fdfdfd;
    border: 1px solid #efefef;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    clear: both; }

.create-form > form > .collection_form > .form-group {
  position: relative;
  margin-bottom: 0;
  padding: 25px 0 0 20px; }

.create-form > form > .collection_form > label {
  padding: 20px 20px 0 20px;
  display: none; }

.collection_form > .form-group + .form-group {
  background: #F7FBFD;
  padding-bottom: 25px; }

.create-form > form > .form-group:only-of-type, .create-activity-form > form > .form-group:only-of-type {
  width: 50%; }

.create-form > form > .collection_form > .form-group > .form-group {
  width: 40%;
  margin-right: 52px;
  display: inline-block;
  margin-bottom: 0;
  position: relative; }

.create-form > form > .collection_form > .form-group > .collection_form {
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-left: 4px solid #00A8FF;
  padding-top: 20px;
  clear: both;
  overflow: hidden; }
  .create-form > form > .collection_form > .form-group > .collection_form:last-of-type {
    padding-bottom: 24px; }
  .create-form > form > .collection_form > .form-group > .collection_form > label {
    font-size: 16px;
    color: #484848;
    margin-left: 22px; }
  .create-form > form > .collection_form > .form-group > .collection_form .form-group {
    background: #F7FBFD;
    border-left: 4px solid #d9f1fe;
    margin-left: 26px;
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 0;
    position: relative; }
    .create-form > form > .collection_form > .form-group > .collection_form .form-group .form-group {
      padding-bottom: 0; }
    .create-form > form > .collection_form > .form-group > .collection_form .form-group > .form-group {
      border: 0;
      float: left;
      width: 40%;
      padding: 0;
      margin: 0 30px 0 14px; }
  .create-form > form > .collection_form > .form-group > .collection_form .collection_form > label {
    padding-left: 26px;
    font-size: 14px;
    text-transform: uppercase; }

.add_to_collection, .add_to_collection:focus, .add {
  background: transparent url(../../images/ic-sprite.png) no-repeat 19px -443px;
  border: none;
  font-size: 15px;
  padding-left: 62px;
  margin: 0 0 0 -7px;
  display: block;
  color: #484848; }
  .add_to_collection:hover, .add_to_collection:focus:hover, .add:hover {
    background: transparent url(../../images/ic-sprite.png) no-repeat 19px -503px;
    color: #00A8FF; }

.add_to_collection:last-of-type {
  margin-left: -11px; }

.has_add_more {
  padding-bottom: 50px !important; }
  .has_add_more > .form-group > .has_add_more:last-of-type + .add_to_collection {
    margin-bottom: 0; }

.has_add_more + .add_to_collection {
  margin-top: -46px !important;
  margin-bottom: 20px; }

.create-form > form > .collection_form.has_add_more + .add_to_collection {
  margin-left: -17px;
  margin-bottom: 0; }

.add {
  line-height: 40px;
  margin: 20px 0 0;
  color: #484848;
  text-decoration: none;
  display: inline-block; }

.remove_from_collection, .remove_from_collection:focus {
  background: transparent url(../../images/ic-sprite.png) no-repeat -381px 0;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 20px;
  top: 26px; }
  .remove_from_collection:hover, .remove_from_collection:focus:hover {
    background: transparent url(../../images/ic-sprite.png) no-repeat -381px -197px; }

.fill-border {
  border: 1px dashed #00A8FF; }

.btn-form {
  width: 40%; }

.create-form .btn-form {
  position: absolute;
  bottom: 30px; }

.modal-dialog {
  z-index: 10000; }

.full-width-wrap {
  width: 87% !important; }

/*# sourceMappingURL=maps/app.css.map */
