@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #477dca;
  border: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
     -moz-transition: background-color 150ms ease;
       -o-transition: background-color 150ms ease;
          transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select, .form-control[readonly] {
  background-color: #F2F9FC !important;
  border: 1px solid #BFDFEC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
     -moz-transition: border-color 150ms ease;
       -o-transition: border-color 150ms ease;
          transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select:focus, .form-control[readonly]:focus {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select:disabled, .form-control[readonly]:disabled {
    background-color: #e6edef;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select:disabled:hover, .form-control[readonly]:disabled:hover {
      border: #F2F9FC; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
     -moz-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
     -moz-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
     -moz-transition: color 150ms ease;
       -o-transition: color 150ms ease;
          transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

@font-face {
  font-family: Open-Sans-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../../fonts/opensans-regular-webfont.woff") format("woff"), url("../../fonts/opensans-regular-webfont.svg#Open-Sans-Regular") format("svg"); }

@font-face {
  font-family: Open-Sans-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../../fonts/opensans-bold-webfont.woff") format("woff"), url("../../fonts/opensans-bold-webfont.svg#Open-Sans-Bold") format("svg"); }

@font-face {
  font-family: Open-Sans-Light;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-light-webfont.woff2") format("woff2"), url("../../fonts/opensans-light-webfont.woff") format("woff"), url("../../fonts/opensans-light-webfont.svg#Open-Sans-Light") format("svg"); }

html, body {
  height: 100%; }

body {
  font: 14px Open-Sans-Regular;
  color: #484848; }

a, .btn-link {
  color: #00A8FF;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
  cursor: pointer; }
  a:hover, a:focus, .btn-link:hover, .btn-link:focus {
    color: #038ED6;
    outline: 0; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #F2F9FC inset;
          box-shadow: 0 0 0 1000px #F2F9FC inset; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select, button {
  font: normal 16px Open-Sans-Regular;
  color: #484848; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select:focus, button:focus {
    outline: none; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select:focus, .form-control[readonly]:focus {
  -webkit-box-shadow: 0 0 0 1000px #F2F9FC inset;
          box-shadow: 0 0 0 1000px #F2F9FC inset;
  border: 1px solid #AFD8E8; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select, select.form-control {
  height: 45px;
  border: 1px solid #BFDFEC;
  margin-bottom: 0.75em; }

.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

input, button {
  font-weight: normal !important; }
  input:focus, input:active, button:focus, button:active {
    outline: none !important; }

.navbar + .alert {
  margin-bottom: 0; }

.alert {
  -webkit-border-radius: 0;
          border-radius: 0; }

.ui-tooltip {
  background: #52cc88;
  width: 240px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font: normal 12px/18px Open-Sans-Regular;
  padding: 16px 20px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-align: left;
  color: #fff;
  margin-right: 6px; }

.arrow:after {
  background: #52cc88; }

.arrow {
  width: 55px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px; }

.arrow.top {
  top: -16px;
  bottom: auto; }

.arrow.left {
  right: 0;
  left: auto; }

.arrow.right {
  left: 20%; }

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
       transform: rotate(45deg); }

.arrow.top:after {
  bottom: -20px;
  top: auto; }

.arrow.right:after {
  right: -20px;
  top: auto; }

.table > thead > tr > th {
  text-transform: uppercase;
  font: normal 12px Open-Sans-Regular;
  color: #484848;
  border-bottom: 1px solid rgba(72, 72, 72, 0.1); }
  .table > thead > tr > th:first-child {
    padding-left: 37px;
    padding-right: 22px; }

.table > tbody > tr {
  background: #fff !important; }
  .table > tbody > tr > td {
    border: 0;
    padding: 15px 8px 12px; }
    .table > tbody > tr > td:first-child {
      padding-left: 37px;
      padding-right: 22px; }
  .table > tbody > tr:nth-child(even) {
    background: #f6f8fa !important; }

label {
  display: block;
  color: rgba(72, 72, 72, 0.7);
  text-align: left !important;
  font: 14px Open-Sans-Regular;
  margin-bottom: 6px !important; }

.login-wrapper {
  background: url(../../images/login-bg.jpg) no-repeat bottom/cover;
  padding-bottom: 80px;
  min-height: 100%; }
  .login-wrapper .language-select-wrapper {
    float: right;
    padding: 10px 20px 5px; }
    .login-wrapper .language-select-wrapper label {
      color: #fff;
      margin-right: 6px;
      padding-top: 7px; }
    .login-wrapper .language-select-wrapper .language-selector {
      background: #f6f6f6;
      padding: 1px 4px 1px 5px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      line-height: 0px; }
      .login-wrapper .language-select-wrapper .language-selector .caret {
        margin-top: 12px;
        color: #484848; }
    .login-wrapper .language-select-wrapper ul.language-flag-wrap {
      position: absolute;
      top: 45px;
      right: 20px;
      bottom: auto;
      left: auto;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      display: none;
      padding: 4px 10px;
      width: auto;
      background: #f6f6f6; }
      .login-wrapper .language-select-wrapper ul.language-flag-wrap .flag-wrapper {
        cursor: pointer; }
        .login-wrapper .language-select-wrapper ul.language-flag-wrap .flag-wrapper .flag-icon-background {
          opacity: 1; }
      .login-wrapper .language-select-wrapper ul.language-flag-wrap .flag-wrapper.active {
        display: none; }
      .login-wrapper .language-select-wrapper ul.language-flag-wrap .language {
        text-transform: capitalize;
        float: right;
        padding-top: 5px;
        padding-left: 2px; }

.language-selector .flag-icon-background {
  margin-right: 2px;
  opacity: 1; }

.login-container {
  max-width: 392px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  clear: both; }
  .login-container::after {
    clear: both;
    content: "";
    display: table; }
  .login-container .form-group .btn-link {
    float: right;
    padding-right: 0; }

.form-body {
  width: 100%;
  float: none;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
  padding: 0 0 44px;
  margin: 0 0 24px; }
  .form-body .panel {
    margin: 0;
    border-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .form-body .panel-heading {
    background: none;
    border: 0;
    text-align: center;
    margin: 60px 0 40px;
    padding: 0; }
  .form-body .panel-body {
    padding: 0 33px 0 39px; }
  .form-body .col-md-12 {
    padding: 0; }

.form-body .form-group {
  margin: 0; }
  .form-body .form-group .col-md-6 {
    padding: 0; }
  .form-body .form-group .checkbox label, .form-body .form-group .btn-link {
    font-size: 13px; }

.btn-submit {
  border: 2px solid #00A8FF;
  background: #fff;
  font-size: 15px;
  line-height: 37px;
  width: 100%;
  color: #00A8FF;
  margin-top: 24px;
  height: 53px; }
  .btn-submit:hover, .btn-submit:focus, .btn-submit:active {
    background: #00A8FF;
    border: 2px solid #00A8FF;
    color: #fff; }

.create-account-wrapper {
  font-size: 15px;
  margin-bottom: 60px;
  color: #fff;
  padding: 0 10px;
  text-align: center; }

.logo-text {
  font: 22px 'Bree Serif', serif;
  color: #c0c0c0;
  text-align: center;
  margin-bottom: 6px; }

.support-desc {
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 276px;
  margin: 0 auto;
  float: none;
  clear: both; }

.panel-title {
  font: 32px Open-Sans-Light;
  padding-top: 20px; }

.register-container {
  max-width: 814px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  clear: both; }
  .register-container::after {
    clear: both;
    content: "";
    display: table; }

.input-wrapper {
  overflow: hidden;
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .input-wrapper > .col-md-12 .form-group:last-child {
    padding-right: 0; }
  .input-wrapper > .col-md-12 .form-group:first-child {
    padding: 0 15px 0 0; }

.no-border {
  border: 0;
  padding: 0;
  margin: 0; }

.btn-register {
  max-width: 174px; }

.navbar-default {
  background: #fff;
  border-bottom: 1px solid #ededed;
  margin-bottom: 0;
  border-top: 0; }

.navbar-collapse {
  padding-right: 0;
  float: right; }

.navbar-right {
  float: right; }

.navbar-collapse {
  display: block;
  border: 0; }

.navbar-header {
  float: left; }

.navbar-brand {
  background: url(../../images/logo-text.png) no-repeat 16px;
  text-indent: -9999px;
  display: block;
  width: 142px;
  height: 35px;
  padding: 0;
  margin: 13px 16px; }

.navbar-nav .dropdown-menu {
  position: absolute !important;
  background: #fff !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  right: 0;
  left: auto; }

.navbar-admin-dropdown, .add-new-activity {
  background: #f6f8fa !important; }
  .navbar-admin-dropdown .avatar-img, .add-new-activity .avatar-img {
    width: 45px;
    line-height: 43px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    display: inline-block;
    text-align: center; }
  .navbar-admin-dropdown .dropdown-toggle, .add-new-activity .dropdown-toggle {
    padding: 9px 16px 3px; }
  .navbar-admin-dropdown .dropdown-menu, .add-new-activity .dropdown-menu {
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    width: 254px !important;
    padding: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important; }
    .navbar-admin-dropdown .dropdown-menu li, .add-new-activity .dropdown-menu li {
      border-bottom: 1px solid #f6f6f6; }
      .navbar-admin-dropdown .dropdown-menu li:last-child, .add-new-activity .dropdown-menu li:last-child {
        border-bottom: 0; }
      .navbar-admin-dropdown .dropdown-menu li a, .add-new-activity .dropdown-menu li a {
        line-height: 42px !important;
        display: block; }
        .navbar-admin-dropdown .dropdown-menu li a:hover, .add-new-activity .dropdown-menu li a:hover {
          background-color: #484848 !important;
          color: #fff !important; }

.avatar-img + .caret {
  margin-top: -30px; }

.language-select-wrap {
  padding: 10px 20px 5px; }
  .language-select-wrap label {
    color: #484848; }

.flag-wrapper {
  display: inline-block; }

.flag-icon-background {
  width: 30px;
  border: 0;
  padding: 0;
  height: 30px;
  margin-right: 4px;
  opacity: 0.5;
  cursor: pointer;
  background-color: transparent !important; }
  .flag-icon-background:hover {
    background-color: transparent !important;
    opacity: 1; }

.flag-icon-background.active {
  opacity: 1; }

.flag-icon-en {
  background-image: url(../flags/4x3/gb.svg); }

.flag-icon-en.flag-icon-squared {
  background-image: url(../flags/1x1/gb.svg); }

.add-new-activity {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed; }
  .add-new-activity li.dropdown > a {
    background: url(../../images/ic-sprite.png) no-repeat -140px 20px;
    font-size: 13px;
    color: #484848;
    padding: 21px 16px 21px 34px;
    display: block; }
    .add-new-activity li.dropdown > a .caret {
      float: right;
      margin: 9px 0 0 9px; }

.caret {
  color: #c0c0c0; }

.sidebar-wrapper {
  margin-right: 0;
  padding: 0;
  width: 60px;
  float: left;
  overflow: hidden;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease; }
  .sidebar-wrapper .panel {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .sidebar-wrapper .panel-body {
    padding: 0; }
  .sidebar-wrapper ul li {
    border-bottom: 1px solid #ededed; }
    .sidebar-wrapper ul li a {
      font-size: 13px;
      color: #484848;
      height: 63px;
      display: block;
      position: relative;
      padding: 22px 0 22px 62px; }
      .sidebar-wrapper ul li a:before {
        content: "";
        background: url(../../images/ic-sprite.png) no-repeat 0 0;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 24%;
        right: auto;
        bottom: auto;
        left: 16px; }
      .sidebar-wrapper ul li a:hover {
        background-color: #484848;
        color: #fff; }
        .sidebar-wrapper ul li a:hover:before {
          background-position: -73px 0; }
  .sidebar-wrapper .activities a:before {
    top: 30%; }
  .sidebar-wrapper .organization a:before {
    background-position: 0 -59px;
    top: 24%; }
  .sidebar-wrapper .organization a:hover:before {
    background-position: -73px -59px; }
  .sidebar-wrapper .published-files a:before {
    background-position: 0 -127px;
    top: 30%; }
  .sidebar-wrapper .published-files a:hover:before {
    background-position: -73px -127px; }
  .sidebar-wrapper .users a:before {
    background-position: 0 -188px; }
  .sidebar-wrapper .users a:hover:before {
    background-position: -73px -188px; }
  .sidebar-wrapper .documents a:before {
    background-position: 0 -252px; }
  .sidebar-wrapper .documents a:hover:before {
    background-position: -73px -252px; }
  .sidebar-wrapper .downloads a:before {
    background-position: 0 -316px; }
  .sidebar-wrapper .downloads a:hover:before {
    background-position: -73px -316px; }
  .sidebar-wrapper .settings a:before {
    background-position: 0 -380px; }
  .sidebar-wrapper .settings a:hover:before {
    background-position: -73px -380px; }

.full-sidebar-wrapper {
  width: 250px; }
  .full-sidebar-wrapper + .content-wrapper {
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: calc(100% - 250px); }

.breadcrumb-wrapper {
  padding: 26px 37px 20px;
  overflow: hidden; }
  .breadcrumb-wrapper li {
    float: left;
    font-size: 12px;
    color: rgba(72, 72, 72, 0.7);
    padding: 0 2px; }
    .breadcrumb-wrapper li:before {
      content: "/";
      display: inline-block;
      padding-right: 2px; }
    .breadcrumb-wrapper li:first-child {
      padding-left: 0; }
      .breadcrumb-wrapper li:first-child:before {
        content: ""; }
    .breadcrumb-wrapper li a {
      color: rgba(0, 168, 255, 0.7); }

.main-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  padding: 0; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }
  .main-container .row {
    margin: 0;
    height: 100%; }

.content-wrapper {
  padding: 0;
  border-left: 1px solid #ededed;
  min-height: 100%;
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
  float: left;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease; }
  .content-wrapper .panel {
    border: 0; }
  .content-wrapper .panel-body {
    padding: 0; }
  .content-wrapper .panel-default {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0; }

.panel-content-heading {
  background: #f9f9f9;
  font-size: 32px;
  color: #484848;
  border-bottom: 0;
  padding: 10px 37px 11px;
  overflow: hidden; }

.activity_title {
  font-family: Open-Sans-Bold; }

.updated-date {
  color: rgba(72, 72, 72, 0.5); }

.draft, .completed, .verified, .published {
  -webkit-border-radius: 13px;
          border-radius: 13px;
  border: 1px solid;
  font-size: 12px;
  color: rgba(72, 72, 72, 0.6);
  padding: 4px 18px 4px 25px;
  position: relative;
  text-transform: capitalize;
  margin-left: -12px; }

.draft:before, .completed:before, .verified:before, .published:before {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 44%;
  right: auto;
  bottom: auto;
  left: 13px; }

.draft {
  border-color: #e15454; }
  .draft:before {
    background: #e15454; }

.completed {
  border-color: #feb752; }
  .completed:before {
    background: #feb752; }

.verified {
  border-color: #4f7286; }
  .verified:before {
    background: #4f7286; }

.published {
  border-color: #52cc88; }
  .published:before {
    background: #52cc88; }

.view, .delete, .edit, .duplicate {
  float: left;
  text-indent: -9999px;
  width: 18px;
  height: 12px;
  background: url(../../images/ic-sprite.png) no-repeat -158px -344px; }

.view {
  margin: 9px 0 0; }
  .view:hover {
    background-position: -159px -401px; }

.delete {
  height: 23px;
  background-position: -227px -332px;
  margin-left: 7px; }
  .delete:hover {
    background-position: -228px -390px; }

.edit {
  height: 23px;
  width: 24px;
  margin-left: 10px;
  background-position: -301px -334px; }
  .edit:hover {
    background-position: -301px -391px; }

.duplicate {
  height: 23px;
  width: 18px;
  margin-left: 11px;
  background-position: -390px -334px; }
  .duplicate:hover {
    background-position: -390px -394px; }

.no-data {
  font-size: 17px;
  font-style: italic;
  color: rgba(72, 72, 72, 0.7);
  padding: 44px 0 50px !important;
  background: rgba(72, 72, 72, 0.06);
  margin-bottom: 20px; }

.element-panel-heading {
  background: #f9f9f9;
  padding: 10px 37px;
  overflow: hidden; }
  .element-panel-heading span {
    font-size: 32px; }
  .element-panel-heading form {
    margin-top: 4px; }

.panel-level-1 .panel-default .panel-heading {
  font-size: 14px;
  color: rgba(72, 72, 72, 0.7); }

.panel-level-1 .panel {
  margin-bottom: 0;
  clear: both; }

.panel-level-1 .panel + .panel {
  margin-top: 20px; }

.content-wrapper .panel-level-2, .content-wrapper .panel-level-3 {
  padding: 0 0 0 15px; }

.content-wrapper .panel-level-2 {
  margin-top: 20px; }

.element-sidebar-wrapper {
  padding: 0;
  border-left: 1px solid #ededed;
  float: right;
  width: 267px;
  padding-right: 0;
  background: #fff; }
  .element-sidebar-wrapper .panel-heading {
    background: transparent;
    font: 12px 'Open-Sans-Bold';
    text-transform: uppercase;
    color: #484848;
    border-color: #ededed;
    padding: 10px 22px; }
  .element-sidebar-wrapper .panel-default {
    margin-bottom: 30px; }
  .element-sidebar-wrapper .panel-body li {
    border-bottom: 1px solid #ededed;
    width: 100%;
    position: relative; }
    .element-sidebar-wrapper .panel-body li a {
      color: rgba(72, 72, 72, 0.5);
      font-size: 12px;
      padding: 17px 25px;
      position: relative; }
      .element-sidebar-wrapper .panel-body li a:hover {
        background: transparent;
        color: #00A8FF; }
    .element-sidebar-wrapper .panel-body li .active {
      color: #484848; }

.action-icon {
  width: 37px;
  height: 32px;
  background-color: #fff;
  text-indent: -9999px;
  float: left;
  position: absolute;
  top: 11px;
  right: auto;
  bottom: auto;
  left: -14px;
  padding-left: 0 !important;
  display: none; }

.action-icon.add {
  background: transparent url(../../images/ic-sprite.png) no-repeat 1px -448px;
  display: none; }
  .action-icon.add:hover {
    background-position: 1px -508px; }

.help-text {
  float: right;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  background: url(../../images/ic-sprite.png) no-repeat -152px -200px;
  cursor: pointer;
  position: absolute;
  top: 37px;
  right: 4px;
  bottom: auto;
  left: auto; }
  .help-text:hover {
    background-position: -222px -200px; }

.nav .help-text {
  top: 18px;
  right: 18px; }

.element-content-wrapper {
  padding: 0;
  margin-top: 20px;
  width: -webkit-calc(100% - 267px);
  width: -moz-calc(100% - 267px);
  width: calc(100% - 267px); }
  .element-content-wrapper .panel-heading {
    background: transparent; }
  .element-content-wrapper h3 {
    padding: 0 40px; }

.activity-status {
  background: #fff5f5;
  padding: 30px 30px 18px;
  text-align: center;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 48px; }
  .activity-status ol {
    width: 440px;
    margin: 0 auto; }
    .activity-status ol li {
      float: left;
      font-size: 12px;
      color: rgba(72, 72, 72, 0.7);
      position: relative;
      width: 132px;
      text-align: left;
      border-top: 6px solid #fddede; }
      .activity-status ol li > span {
        color: rgba(72, 72, 72, 0.7);
        display: block;
        margin-top: 6px;
        margin-left: -12px;
        text-transform: capitalize; }
      .activity-status ol li:before {
        content: "";
        position: absolute;
        top: -10px;
        right: auto;
        bottom: auto;
        left: -1px;
        width: 13px;
        height: 13px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #fddede; }
      .activity-status ol li:nth-child(2):before {
        left: 10px; }
      .activity-status ol li:nth-child(3):before {
        left: 8px; }
      .activity-status ol li:last-child {
        width: auto; }
        .activity-status ol li:last-child:before {
          right: -1px;
          left: auto; }
        .activity-status ol li:last-child span {
          margin-right: -13px; }
    .activity-status ol .active:before {
      background: #e15454; }
  .activity-status + a {
    margin-right: 40px; }

.activity-status-completed {
  background: #fff4e5; }
  .activity-status-completed ol li {
    border-color: #f3dbb9; }
    .activity-status-completed ol li:before {
      background: #f3dbb9; }
  .activity-status-completed ol .active:before {
    background: #feb752; }

.activity-status-verified {
  background: #eef9ff; }
  .activity-status-verified ol li {
    border-color: #d5e8f3; }
    .activity-status-verified ol li:before {
      background: #d5e8f3; }
  .activity-status-verified ol .active:before {
    background: #4f7286; }

.activity-status-published {
  background: #ecfff5; }
  .activity-status-published ol li {
    border-color: #b4eccd; }
    .activity-status-published ol li:before {
      background: #b4eccd; }
  .activity-status-published ol .active:before {
    background: #52cc88; }

.panel-element-detail {
  padding: 0 36px; }
  .panel-element-detail > .panel-default {
    margin-bottom: 42px; }
  .panel-element-detail .panel-heading {
    font-size: 22px;
    padding: 0 0 10px;
    border: 0;
    background: transparent; }
  .panel-element-detail > .panel-body > .panel {
    margin-bottom: 40px; }

.panel-element-body {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #f9f9f9;
  overflow: hidden; }
  .panel-element-body > .col-md-12 {
    border-bottom: 1px solid #f1f1f1;
    font-size: 12px;
    padding: 12px 4px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .panel-element-body > .col-md-12:last-child {
      border-bottom: 0; }

.panel-element-body + .panel-heading {
  margin-top: 20px; }

.edit-element, .edit-value {
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  background: url(../../images/ic-sprite.png) no-repeat -154px -261px; }
  .edit-element:hover, .edit-value:hover {
    background-position: -221px -261px; }

.edit-element {
  display: inline-block; }

.create-form, .create-activity-form {
  padding: 14px 36px 30px;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 28px; }
  .create-form .panel-body > div:first-child, .create-activity-form .panel-body > div:first-child {
    padding-left: 0; }

.create-activity-form .panel-body > .col-sm-6 {
  padding-right: 30px; }

.create-activity-form .form-group:only-of-type {
  width: 100%;
  padding-right: 30px;
  position: relative; }

.btn-create {
  background: #00A8FF url(../../images/ic-sprite.png) no-repeat -204px -122px;
  font-size: 14px;
  text-transform: uppercase;
  border-color: #00A8FF;
  width: 206px;
  line-height: 28px;
  margin-top: 20px;
  float: left;
  clear: both; }
  .btn-create:hover, .btn-create:focus {
    background-color: #0598e5;
    border-color: #0598e5; }

.panel-activity-default .panel-element-body {
  margin-bottom: 50px; }
  .panel-activity-default .panel-element-body > .col-md-6 {
    padding: 18px 0 0;
    font-size: 13px; }
    .panel-activity-default .panel-element-body > .col-md-6:last-child {
      padding-bottom: 20px; }

.panel-title-heading {
  font-size: 22px;
  color: #5a5a5a;
  padding: 17px 80px 17px 37px; }
  .panel-title-heading span {
    font-style: italic;
    color: rgba(90, 90, 90, 0.7); }

.collection_form {
  clear: both; }
  .collection_form + .collection_form {
    padding-top: 24px; }

.create-form {
  position: relative;
  padding-bottom: 80px;
  clear: both; }
  .create-form > form {
    background: #fdfdfd;
    border: 1px solid #efefef;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    clear: both;
    overflow: hidden; }
  .create-form .form-group > input, .create-form .form-group select {
    margin-bottom: 3px; }

.create-form > form > .collection_form > .form-group {
  position: relative;
  margin-bottom: 0;
  padding: 25px 20px 0 20px;
  border: 1px solid transparent; }

.create-form > form > .collection_form > label {
  padding: 20px 20px 0 20px;
  display: none; }

.collection_form > .form-group + .form-group {
  background: #F7FBFD;
  padding-bottom: 25px; }

.create-form > form > .form-group {
  padding: 20px 0 0 30px;
  margin-bottom: -20px; }

.create-form > form > .collection_form > .form-group > .form-group {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
  padding-right: 30px; }

.create-form > form > .collection_form > .form-group > .collection_form {
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-left: 4px solid #00A8FF;
  padding-top: 20px;
  clear: both;
  overflow: hidden; }
  .create-form > form > .collection_form > .form-group > .collection_form:last-of-type {
    padding-bottom: 24px; }
  .create-form > form > .collection_form > .form-group > .collection_form > label {
    font-size: 16px;
    color: #484848;
    margin-left: 22px; }
  .create-form > form > .collection_form > .form-group > .collection_form .form-group {
    background: #F7FBFD;
    border: 1px solid transparent;
    border-left: 4px solid #d9f1fe;
    margin-left: 26px;
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 0;
    position: relative; }
    .create-form > form > .collection_form > .form-group > .collection_form .form-group .form-group {
      padding-bottom: 0; }
    .create-form > form > .collection_form > .form-group > .collection_form .form-group > .form-group {
      border: 0;
      display: inline-block;
      padding: 5px 30px 0 0;
      margin: 0 30px 15px 14px;
      vertical-align: top;
      width: 95%; }
  .create-form > form > .collection_form > .form-group > .collection_form .collection_form > label {
    padding-left: 26px;
    font-size: 14px;
    text-transform: uppercase; }

.add_to_collection, .add_to_collection:focus, .add, .upload {
  background: transparent url(../../images/ic-sprite.png) no-repeat 19px -443px;
  border: none;
  font-size: 15px;
  padding-left: 62px;
  margin: 0 0 0 -9px;
  display: block;
  color: #484848;
  overflow: hidden; }
  .add_to_collection:hover, .add_to_collection:focus:hover, .add:hover, .upload:hover {
    background: transparent url(../../images/ic-sprite.png) no-repeat 19px -503px;
    color: #00A8FF;
    text-decoration: none; }

.add, .upload {
  line-height: 40px;
  color: #484848;
  text-decoration: none;
  display: inline-block; }

.upload {
  display: inline-block;
  background-position: -261px -494px; }
  .upload:hover {
    background-position: -261px -574px; }

.add_to_collection:last-of-type {
  margin-left: -11px; }

form > .add_to_collection[data-collection="legacy_data"] {
  margin-left: 0 !important; }

.has_add_more {
  padding-bottom: 50px !important; }
  .has_add_more > .form-group > .has_add_more:last-of-type + .add_to_collection {
    margin-bottom: 0; }

.has_add_more + .add_to_collection {
  margin-top: -46px !important; }

.create-form > form > .collection_form.has_add_more + .add_to_collection {
  margin-left: -17px;
  margin-bottom: 0; }
  .create-form > form > .collection_form.has_add_more + .add_to_collection:first-of-type {
    margin-left: 0; }

.remove_from_collection, .remove_from_collection:focus {
  background: transparent url(../../images/ic-sprite.png) no-repeat -381px 0;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 20px;
  top: 8px; }
  .remove_from_collection:hover, .remove_from_collection:focus:hover {
    background: transparent url(../../images/ic-sprite.png) no-repeat -381px -197px; }

.fill-border {
  border: 1px dashed #00A8FF !important;
  border-left: 4px solid #d9f1fe !important; }

.create-form > form > .collection_form > .form-group.fill-border {
  border: 1px dashed #00A8FF !important; }

.btn-form {
  width: 320px; }

.create-form .btn-form {
  position: absolute;
  bottom: 30px; }

.modal-dialog {
  z-index: 10000; }

.full-width-wrap {
  width: 87% !important;
  padding-right: 0 !important; }

.create-wizard-form > form .form-group {
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 0; }

.create-wizard-form .btn-submit {
  left: 40px; }

.panel-add-wizard {
  padding: 0; }
  .panel-add-wizard .panel-heading, .panel-add-wizard h4 {
    padding: 0 36px; }
  .panel-add-wizard h4 {
    margin-top: 6px;
    color: rgba(72, 72, 72, 0.7); }

.form-choice-wrapper {
  width: 100% !important;
  margin-right: 0 !important;
  padding-right: 10px !important; }
  .form-choice-wrapper .choice-wrapper {
    float: left;
    margin-right: 20px;
    min-width: 204px; }
    .form-choice-wrapper .choice-wrapper label {
      color: #484848; }
  .form-choice-wrapper input + label {
    color: #484848 !important;
    margin-right: 20px; }

.settings-choice-wrapper .form-group {
  padding-top: 0; }

.settings-choice-wrapper .help-text {
  top: 28px; }

.settings-checkall-wrapper {
  padding: 10px 20px; }
  .settings-checkall-wrapper > .collection_form > label {
    display: none; }
  .settings-checkall-wrapper > .collection_form .form-group > .form-group > label {
    font-size: 15px;
    color: #484848; }
  .settings-checkall-wrapper > .collection_form .form-group > .form-group > .form-group {
    margin: 0;
    width: auto;
    display: block; }
    .settings-checkall-wrapper > .collection_form .form-group > .form-group > .form-group > label {
      color: rgba(72, 72, 72, 0.7); }
  .settings-checkall-wrapper > .collection_form > .form-group > .form-group:nth-child(-n+4) {
    margin-top: 0; }

.settings-wrapper .collection_form + .collection_form {
  padding-top: 0; }

.settings-wrapper .create-form > form > .collection_form > label {
  display: block;
  color: #484848;
  font-size: 18px; }

.settings-wrapper .create-form > form > .collection_form > label + .form-group {
  margin-top: -20px; }

.registry-info-wrapper {
  margin-top: 10px; }
  .registry-info-wrapper .choice-wrapper {
    display: inline-block;
    margin-right: 20px; }

.create-user-form .col-sm-6 {
  padding: 16px 30px 0; }
  .create-user-form .col-sm-6 > input {
    margin-bottom: 0; }

.create-user-form .panel {
  margin: 0;
  background: transparent; }

.create-user-form .panel-user {
  padding: 20px 30px 10px; }

.panel-user {
  padding: 20px 0 10px; }
  .panel-user .panel-heading {
    font-size: 18px;
    border: 0;
    padding-left: 0; }
  .panel-user .checkbox {
    float: left;
    margin-right: 20px; }
  .panel-user .form-group {
    padding-top: 0; }

.user-wrapper .panel-content-heading {
  margin-bottom: 20px; }

.user-wrapper .btn-form {
  margin-right: 20px; }
  .user-wrapper .btn-form:last-child {
    margin-right: 0; }

.panel-upload .create-form {
  border: 0;
  padding-bottom: 0; }

.panel-upload form {
  overflow: hidden; }

.panel-upload .form-group {
  float: left; }

.panel-upload button {
  margin: 45px 0 0px 20px;
  color: #fff !important; }

.download-transaction-wrap {
  padding: 0 36px; }
  .download-transaction-wrap .btn {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle; }
  .download-transaction-wrap > div {
    width: -webkit-calc(100% - 370px);
    width: -moz-calc(100% - 370px);
    width: calc(100% - 370px);
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 44px;
    line-height: 18px; }

.change-activity-form {
  border: 0; }
  .change-activity-form > form {
    padding-right: 20px; }
    .change-activity-form > form > .form-group {
      display: inline-block;
      padding-right: 30px;
      margin-right: -2px;
      position: relative;
      margin-bottom: 0; }
      .change-activity-form > form > .form-group .help-text {
        top: 56px; }

.panel-change-activity-heading {
  margin-bottom: 20px; }

.element-sidebar-dropdown {
  display: none; }

.user-content-wrapper {
  width: 100%; }

.back-to-list {
  font-size: 14px;
  margin-top: 5px; }
  .back-to-list span {
    font-style: normal;
    color: inherit;
    top: 2px; }
  .back-to-list:hover, .back-to-list:focus {
    text-decoration: none; }

.upgrade {
  font-size: 14px;
  margin-top: 5px; }

@media all and (max-width: 1000px) {
  .element-upload-wrapper {
    width: 100%; }
  .element-menu-wrapper {
    position: absolute;
    right: 0; }
  .element-content-wrapper {
    width: 100%; }
  .element-sidebar-wrapper {
    display: none; }
  .element-sidebar-dropdown {
    float: right;
    display: block;
    margin-top: -48px;
    margin-right: 20px; }
    .element-sidebar-dropdown .edit-element {
      width: 42px;
      cursor: pointer; }
      .element-sidebar-dropdown .edit-element .caret {
        float: right;
        color: #484848;
        margin: 14px 0 0 30px; }
      .element-sidebar-dropdown .edit-element:hover .caret {
        color: #00A8FF; }
  .element-panel-heading form {
    margin-right: 40px; } }

@media all and (max-width: 820px) {
  .btn-form {
    width: 47%; } }

@media all and (max-width: 767px) {
  table, thead, tbody, th, td, tr {
    display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr {
    border: 1px solid #eee; }
  .table > tbody > tr > td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    overflow: hidden; }
    .table > tbody > tr > td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 15px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap; }
  /*
    Label the data
    */
  .activity-wrapper td:nth-of-type(1) {
    content: "";
    display: none; }
  .activity-wrapper td:nth-of-type(2):before {
    content: "S.N."; }
  .activity-wrapper td:nth-of-type(3):before {
    content: "Activity Title";
    font-family: Open-Sans-Regular; }
  .activity-wrapper td:nth-of-type(4):before {
    content: "Activity Identifier"; }
  .activity-wrapper td:nth-of-type(5):before {
    content: "Last Updated"; }
  .activity-wrapper td:nth-of-type(6):before {
    content: "Status"; }
  .activity-wrapper td:nth-of-type(7):before {
    content: "Actions"; }
  .list-user-wrapper td:nth-of-type(1):before {
    content: "S.N."; }
  .list-user-wrapper td:nth-of-type(2):before {
    content: "Name"; }
  .list-user-wrapper td:nth-of-type(3):before {
    content: "User Name";
    font-family: Open-Sans-Regular; }
  .list-user-wrapper td:nth-of-type(4):before {
    content: "Action"; }
  .transaction-wrapper td:nth-of-type(1):before {
    content: "Internal Ref"; }
  .transaction-wrapper td:nth-of-type(2):before {
    content: "Humanitarian"; }
  .transaction-wrapper td:nth-of-type(3):before {
    content: "Transaction Type"; }
  .transaction-wrapper td:nth-of-type(4):before {
    content: "Transaction Value"; }
  .transaction-wrapper td:nth-of-type(5):before {
    content: "Transaction Date"; }
  .transaction-wrapper td:nth-of-type(6):before {
    content: "Actions"; }
  td input[type="checkbox"] {
    display: none; }
  .table > tbody > tr > td.no-data {
    padding-left: 0 !important;
    margin-bottom: 0; }
  .panel-element-detail {
    padding: 0; }
  .panel-element-body > .col-md-12 .col-sm-4 {
    margin-bottom: 8px; }
  .navbar-nav {
    margin: 0; }
  .content-wrapper > .panel-default > .panel-body, .panel-element-detail > .panel-body, .transaction-wrapper > .panel > .panel-body {
    padding: 0 14px; }
  .activity-status + a {
    margin-right: 14px; }
  .panel-create > .panel-body {
    padding: 0 !important; }
  .create-form, .create-activity-form, .panel-user-permission-edit {
    padding-left: 14px;
    padding-right: 14px; }
  .change-activity-form > form > .form-group {
    width: 100%; }
  .create-activity-form .panel-body > div {
    margin-top: 4px;
    margin-bottom: 4px; }
  .create-activity-form .panel-body > .col-sm-6 {
    padding-left: 0; }
  .remove_from_collection, .remove_from_collection:focus {
    right: 6px; }
  .panel-add-wizard > .panel-body {
    padding: 0; }
  .download-transaction-wrap > div {
    display: block;
    width: 100%;
    margin: 0; }
  .panel-content-heading, .element-panel-heading, .create-form,
  .panel-add-wizard .panel-heading, .panel-add-wizard h4,
  .download-transaction-wrap {
    padding-left: 14px;
    padding-right: 14px; }
  .panel-title-heading {
    padding-right: 80px; }
  .change-activity-form .btn-form {
    left: 14px; }
  .register-container .form-body {
    -webkit-border-radius: 0;
            border-radius: 0; }
    .register-container .form-body select {
      width: 100%; }
  .input-wrapper > .col-md-12 .form-group {
    padding: 0 !important; }
  .create-wizard-form .btn-submit {
    left: 14px; }
  .element-panel-heading form {
    margin-right: 60px; }
  .panel-user-view {
    padding: 0 14px; } }

@media all and (max-width: 640px) {
  .create-form > form > .collection_form > .form-group {
    padding-right: 20px; } }

@media all and (max-width: 600px) {
  .add-new-activity li.dropdown > a {
    text-indent: -9999px;
    padding: 21px 0 21px 10px; }
    .add-new-activity li.dropdown > a .caret {
      margin-right: 10px; }
  .element-panel-heading > form, .panel-content-heading > a {
    float: none !important;
    display: block;
    padding-top: 6px;
    clear: both; }
  .panel-content-heading > a {
    margin-top: 8px;
    max-width: 160px; }
  .activity-file-choose {
    width: 94%; }
    .activity-file-choose + button {
      margin-top: 34px; }
  .activity-status ol {
    width: 100%; }
  .activity-status li.active {
    border: 0;
    width: 100% !important;
    margin-top: -16px; }
    .activity-status li.active:before {
      display: none; }
    .activity-status li.active span {
      margin: 0;
      font-size: 15px;
      text-align: center; }
  .activity-status li:not(.active) {
    display: none; }
  .activity-status-draft ol li > span {
    color: #e15454; }
  .activity-status-completed ol li > span {
    color: #feb752; }
  .activity-status-verified ol li > span {
    color: #4f7286; }
  .activity-status-published ol li > span {
    color: #52cc88; } }

@media all and (max-width: 480px) {
  .create-form .btn-form {
    width: 92%; }
  .download-transaction-wrap > a, .create-activity-form button {
    width: 91%; }
  .panel-upload button {
    margin-top: 33px; }
  .btn-register {
    max-width: 100%; }
  .btn-form {
    width: 100%; } }

@media all and (max-width: 392px) {
  .login-container, .register-container {
    max-width: 100%; }
    .login-container .panel, .login-container .form-body, .register-container .panel, .register-container .form-body {
      -webkit-border-radius: 0;
              border-radius: 0; } }

@media all and (min-width: 601px) {
  .settings-checkall-wrapper > .collection_form > .form-group > .form-group {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: -2px; } }

@media all and (min-width: 768px) {
  .create-form > form > .collection_form > .form-group > .collection_form .form-group > .form-group {
    width: 50%;
    padding-right: 30px; }
  .create-form > form > .collection_form > .form-group > .form-group,
  .change-activity-form > form > .form-group {
    width: 50%;
    padding-right: 30px;
    margin-right: -2px; }
  .create-form > form > .collection_form > .form-group > .form-group + .form-group:nth-child(even) {
    padding-left: 15px; }
  .create-wizard-form .col-sm-6 + .col-sm-6:nth-child(even), create-user-form .col-sm-6 + .col-sm-6:nth-child(odd), .reset-user-password .col-sm-6 + .col-sm-6 {
    padding-left: 0; }
  .create-activity-form .form-group:only-of-type {
    width: 50%; } }

@media all and (min-width: 1001px) {
  .element-sidebar-wrapper {
    display: block !important; }
  .settings-checkall-wrapper > .collection_form > .form-group > .form-group {
    width: 33%; } }

@media all and (min-width: 1200px) {
  .settings-checkall-wrapper > .collection_form > .form-group > .form-group {
    width: 24.8%; } }

@media all and (min-width: 1340px) {
  .settings-checkall-wrapper > .collection_form > .form-group > .form-group {
    width: 20%;
    margin-right: -3px; } }

/*# sourceMappingURL=maps/app.css.map */
