label,
input,
select {
  display: inline;
}
#data-table_info,
#data-table_length {
  margin-right: 20px;
  margin-top: 10px;
}
#data-table_filter,
#data-table_paginate {
  margin-left: 20px;
  margin-top: 10px;
}
#data-table_paginate,
#data-table_info {
  margin: 10px;
}
#data-table_length > label > select {
  width: 56px;
}
#data-table_filter > label > input {
  width: 180px;
}
select[name="data-table_length"] {
  margin: 0 3px;
}
