@font-face {
  font-family: Open-Sans-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.svg#Open-Sans-Regular") format("svg"); }
@font-face {
  font-family: Open-Sans-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.svg#Open-Sans-Bold") format("svg"); }
@font-face {
  font-family: Open-Sans-Light;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.svg#Open-Sans-Light") format("svg"); }
body {
  font: 14px/20px Open-Sans-Regular;
  color: #484848; }

a {
  color: #00A8FF; }
  a:hover {
    color: #038ED6; }

a:focus, input:focus {
  outline: 0 !important;
  box-shadow: none; }

h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 20px; }

h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 33px;
  margin-bottom: 20px; }

.bottom-line {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  overflow: hidden; }

.col-md-12 {
  padding: 0 20px; }

.navbar {
  padding: 40px 16px 20px;
  background: #fff;
  border: 0;
  border-radius: 0; }

.navbar-brand {
  background: url("../images/logo-aidstream.png") no-repeat left;
  width: 160px;
  height: 42px;
  display: block;
  text-indent: -9999px; }

.navbar-default .navbar-nav > li > a {
  color: inherit;
  padding: 0;
  margin: 11px 15px; }

.action-btn {
  margin-left: 8px; }
  .action-btn a {
    padding: 13px 24px; }

.btn {
  background: #00A8FF;
  border: 0; }
  .btn:hover, .btn:focus, .btn:active {
    background: #038ED6; }

.main-container {
  overflow: hidden; }

.introduction-wrapper h1 a {
  color: #484848;
  border-bottom: 2px solid #00A8FF; }
  .introduction-wrapper h1 a:hover, .introduction-wrapper h1 a:focus {
    text-decoration: none; }
.introduction-wrapper p {
  color: rgba(72, 72, 72, 0.7);
  line-height: 26px;
  margin-bottom: 30px; }

.get-started-btn {
  width: 280px;
  padding: 0;
  margin-bottom: 40px;
  font-size: 19px;
  line-height: 56px; }

.screenshot img {
  width: 90%; }

.organization-wrapper {
  padding: 30px 0; }
  .organization-wrapper ul {
    padding: 0; }
    .organization-wrapper ul li {
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 14px;
      width: 49%;
      text-align: center; }

.organization-wrapper p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  text-align: center; }
  .organization-wrapper p a {
    font-family: Open-Sans-Bold; }

.information-wrapper {
  clear: both; }
  .information-wrapper img {
    width: 100%; }
  .information-wrapper p {
    color: rgba(72, 72, 72, 0.7);
    line-height: 26px; }

.information-section {
  margin-top: 40px;
  overflow: hidden; }

.left-wrapper {
  margin-bottom: 12px;
  text-align: center; }

.testimonials-wrapper {
  overflow: hidden;
  padding: 30px 0 20px; }

blockquote {
  border: 0;
  padding: 0; }
  blockquote p {
    font-size: 18px;
    line-height: 1.4; }

.detail {
  font-size: 14px; }
  .detail h3 {
    font: 14px/20px "Open-Sans-Bold";
    margin-bottom: 5px; }
  .detail span {
    font-style: italic;
    display: block;
    margin-bottom: 8px;
    color: rgba(72, 72, 72, 0.7); }

.convince-wrapper {
  background: #00A8FF;
  padding: 40px 0 30px;
  color: #fff;
  overflow: hidden; }
  .convince-wrapper h2 {
    font-size: 28px; }
  .convince-wrapper p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px; }

.convince-wrapper .get-started-btn {
  background: #0094de;
  line-height: 68px; }
  .convince-wrapper .get-started-btn:hover {
    background: #038ED6; }

footer {
  background: #f9f9f9; }
  footer ul {
    padding: 0; }
    footer ul li {
      list-style: none; }

.social-wrapper {
  padding: 40px 0 26px; }
  .social-wrapper li {
    display: inline-block; }
    .social-wrapper li a {
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      display: block; }
      .social-wrapper li a:before {
        background: url("../images/social-sprite.png") no-repeat;
        float: left;
        content: '';
        width: 32px;
        height: 32px; }
    .social-wrapper li:first-child {
      margin-right: 30px; }
    .social-wrapper li:nth-of-type(2) {
      margin-right: 15px; }

.social-wrapper li a.github:before {
  background-position: -62px 0; }
.social-wrapper li a.github:hover:before {
  background-position: -62px -49px; }

.social-wrapper li a.twitter:before {
  background-position: 0 0; }
.social-wrapper li a.twitter:hover:before {
  background-position: 0 -49px; }

.footer-nav > .col-md-12 {
  padding-top: 30px;
  width: 250px;
  margin: 0 auto; }
.footer-nav ul {
  float: left; }
  .footer-nav ul li {
    margin-bottom: 7px; }
    .footer-nav ul li a {
      color: #484848; }
.footer-nav ul:last-child {
  float: right; }

.footer-logo {
  padding: 30px 0; }

.right-wrapper {
  text-align: center; }

.organisation-list-wrapper {
  padding-bottom: 100px;
  overflow: hidden; }
  .organisation-list-wrapper h1 {
    margin-bottom: 14px; }
  .organisation-list-wrapper p {
    color: rgba(72, 72, 72, 0.7);
    margin-bottom: 26px; }

.organisations-list {
  margin-bottom: 40px; }
  .organisations-list ul {
    border-top: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
    padding: 0; }
    .organisations-list ul li {
      list-style: none;
      line-height: 192px;
      height: 192px;
      display: inline-block;
      vertical-align: middle;
      border-bottom: 1px solid #f9f9f9;
      border-right: 1px solid #f9f9f9;
      width: 50%;
      margin-left: -3px; }
      .organisations-list ul li span {
        display: table;
        vertical-align: middle;
        line-height: normal;
        font-size: 16px;
        width: 100%;
        height: 100%; }
        .organisations-list ul li span a {
          padding: 0 30px;
          display: table-cell;
          vertical-align: middle;
          color: rgba(72, 72, 72, 0.7); }
          .organisations-list ul li span a:hover {
            text-decoration: none; }

.load-more {
  width: 188px;
  line-height: 46px;
  background: #f9f9f9;
  border-radius: 23px;
  display: inline-block;
  text-align: center; }
  .load-more:hover, .load-more:focus {
    background: #00A8FF;
    color: #fff;
    text-decoration: none; }

.about-wrapper .screenshot {
  clear: both;
  background: #00A8FF;
  padding-top: 100px;
  margin-bottom: 120px; }
  .about-wrapper .screenshot img {
    margin-bottom: -80px; }

.heading-title h2 {
  font-size: 28px; }

.about-information-section img {
  width: auto;
  margin-bottom: 20px; }
.about-information-section .right-wrapper {
  text-align: left; }
.about-information-section p {
  margin-bottom: 20px; }

.support-desc {
  text-align: center;
  font-size: 14px;
  float: none;
  clear: both;
  padding-bottom: 40px;
  margin-top: 0; }

.organisation-detail-container .contact-section {
  padding: 0 10px 20px;
  text-align: center; }
.organisation-detail-container .detail span {
  font-style: normal; }
.organisation-detail-container .social-logo {
  margin-bottom: 10px; }
  .organisation-detail-container .social-logo span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 5px; }
    .organisation-detail-container .social-logo span a {
      display: inline-block;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      width: 16px;
      height: 16px; }
    .organisation-detail-container .social-logo span:last-child {
      margin-right: 0; }
  .organisation-detail-container .social-logo a.mail {
    background: url("../images/ic-mail.png") no-repeat left; }
  .organisation-detail-container .social-logo a.web {
    background: url("../images/ic-web.png") no-repeat left; }
  .organisation-detail-container .social-logo a.twitter {
    background: url("../images/ic-twitter.png") no-repeat left; }
.organisation-detail-container .address {
  margin: 10px 0 0;
  display: inline-block;
  padding-left: 20px; }
.organisation-detail-container .tel {
  display: inline-block;
  margin-left: 20px; }
.organisation-detail-container .address {
  background: url("../images/ic-location.png") no-repeat left; }
.organisation-detail-container .tel a {
  margin: 10px 0 0;
  display: inline-block;
  padding-left: 20px;
  background: url("../images/ic-tel.png") no-repeat left; }
.organisation-detail-container .activities-detail-section {
  background: #f9f9f9; }
  .organisation-detail-container .activities-detail-section > div {
    padding: 0 10px 20px; }
  .organisation-detail-container .activities-detail-section .content-1 {
    padding: 20px 0;
    text-align: center; }
    .organisation-detail-container .activities-detail-section .content-1 span {
      color: rgba(72, 72, 72, 0.7); }
    .organisation-detail-container .activities-detail-section .content-1 p {
      font-family: Open-Sans-Bold;
      font-size: 28px;
      line-height: 34px;
      margin: 10px 0; }
  .organisation-detail-container .activities-detail-section .content-2 {
    margin-bottom: 20px; }
    .organisation-detail-container .activities-detail-section .content-2 h2 {
      margin: 0;
      font-size: 22px;
      line-height: 28px; }
    .organisation-detail-container .activities-detail-section .content-2 .info {
      margin-top: 14px;
      border-bottom: 1px solid #F9F9F9;
      padding-bottom: 12px;
      padding-right: 12px; }
      .organisation-detail-container .activities-detail-section .content-2 .info p {
        color: rgba(72, 72, 72, 0.7);
        font-size: 11px;
        margin: 7px 0 0; }
      .organisation-detail-container .activities-detail-section .content-2 .info:first-of-type {
        margin-top: 20px; }
      .organisation-detail-container .activities-detail-section .content-2 .info:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0; }
    .organisation-detail-container .activities-detail-section .content-2 .content-item {
      background: #FFFFFF;
      box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 20px;
      margin-bottom: 20px; }
      .organisation-detail-container .activities-detail-section .content-2 .content-item:last-child {
        margin-bottom: 0; }
  .organisation-detail-container .activities-detail-section .content-3 h2 {
    margin: 0;
    font-size: 22px;
    line-height: 28px; }
  .organisation-detail-container .activities-detail-section .content-3 .content-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px; }
  .organisation-detail-container .activities-detail-section .content-3 svg {
    max-width: 100%;
    max-height: 300px; }
.organisation-detail-container #horizontalBarChart {
  width: 100%; }
  .organisation-detail-container #horizontalBarChart svg:not(:root) {
    max-width: 100% !important; }

@media all and (min-width: 480px) {
  .organization-wrapper ul li {
    width: 32%; } }
@media all and (min-width: 600px) {
  .get-started-btn {
    line-height: 68px;
    margin-bottom: 50px; }

  .screenshot img, .organization-wrapper ul li img {
    width: auto; }

  .testimonials-wrapper {
    padding: 40px 0 60px; }

  blockquote {
    width: 580px;
    margin-left: auto;
    margin-right: auto; }
    blockquote p {
      font-size: 28px; }

  .information-wrapper img {
    width: auto; }

  .information-section {
    margin-bottom: 60px; }

  .social-wrapper li a {
    text-indent: 1px;
    width: auto;
    line-height: 32px;
    color: #484848; }
    .social-wrapper li a:before {
      margin-right: 6px; }
    .social-wrapper li a:hover, .social-wrapper li a:focus {
      text-decoration: none; }

  .footer-nav {
    float: left;
    width: 250px;
    border: none;
    padding-bottom: 15px; }

  .footer-logo {
    float: right; }

  .organisations-list ul li {
    width: 33%; }

  .navbar-toggle {
    display: none; }

  .navbar-collapse.collapse {
    display: block !important; }

  .navbar-header {
    float: left; }

  .navbar-nav {
    float: left;
    margin: 0; }

  .navbar-default .navbar-collapse {
    border: none; }

  .navbar-right {
    float: right !important;
    margin-right: -15px; }

  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
    color: #038ED6; }

  .navbar-nav > li {
    float: left; } }
@media all and (min-width: 768px) {
  h1 {
    font-size: 40px; }

  .navbar {
    padding: 40px 30px; }

  .introduction-wrapper p {
    width: 694px;
    margin: 0 auto 30px; }

  .convince-wrapper {
    padding-top: 100px;
    padding-bottom: 50px; }

  .social-wrapper {
    margin-right: 40px; }
    .social-wrapper li {
      display: block;
      margin-bottom: 10px; }

  footer {
    padding: 84px 0; }
    footer .width-900 > div {
      padding: 0 !important;
      float: none;
      display: inline-block;
      vertical-align: top; }
    footer .width-900.text-center {
      padding-top: 40px; }
    footer .bottom-line {
      border: 0; }

  .footer-logo {
    float: right !important; }

  .information-section {
    margin: 50px 0; }
    .information-section > .col-md-12 {
      display: flex;
      align-items: center; }

  .left-wrapper {
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    width: 49%;
    text-align: left; }

  .right-wrapper {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    width: 460px; }

  .information-section:nth-child(even) .left-wrapper {
    padding-left: 30px;
    padding-right: 0;
    order: 2; }

  .information-section:nth-child(even) .right-wrapper {
    padding-right: 30px;
    padding-left: 0; }

  .information-section img {
    margin-left: -52px; }

  .information-section:nth-child(even) .right-wrapper img {
    margin-left: -40px; }

  .footer-nav > .col-md-12 {
    padding-top: 0; }

  .organisations-list ul li {
    width: 25%; }

  .about-information-section img {
    margin-bottom: 0; }

  .organisation-detail-container .contact-section {
    text-align: left;
    padding-bottom: 40px;
    max-width: 960px;
    margin: 0 auto; }
    .organisation-detail-container .contact-section .logo,
    .organisation-detail-container .contact-section .detail {
      float: left; }
    .organisation-detail-container .contact-section .detail h2 {
      margin-bottom: 0; }
    .organisation-detail-container .contact-section .social-logo {
      position: relative; }
      .organisation-detail-container .contact-section .social-logo:before {
        position: absolute;
        content: '';
        height: 23px;
        border-left: 1px solid #d8d8d8;
        right: -12px; }
    .organisation-detail-container .contact-section .tel a {
      position: relative; }
      .organisation-detail-container .contact-section .tel a:before {
        position: absolute;
        content: '';
        height: 23px;
        border-left: 1px solid #d8d8d8;
        left: -12px; }
    .organisation-detail-container .contact-section .logo {
      margin-right: 20px;
      margin-top: 25px; }
    .organisation-detail-container .contact-section .social-logo {
      display: inline-block;
      margin-right: 20px; }
  .organisation-detail-container .activities-detail-section > div {
    max-width: 960px;
    margin: 0 auto; }
  .organisation-detail-container .activities-detail-section .content-1 {
    text-align: left;
    padding-bottom: 60px; }
    .organisation-detail-container .activities-detail-section .content-1 .content-item {
      float: left;
      width: 22.3%;
      margin-right: 20px; }
  .organisation-detail-container .activities-detail-section .content-2 .content-item {
    float: left;
    width: 48.6%;
    margin-right: 20px;
    min-height: 170px;
    margin-bottom: 0; }
    .organisation-detail-container .activities-detail-section .content-2 .content-item:last-child {
      margin-right: 0; }
  .organisation-detail-container .activities-detail-section .content-2 .content-item {
    height: 348px; }
  .organisation-detail-container .activities-detail-section .content-2 .content-activity {
    height: 250px;
    overflow: auto; }
  .organisation-detail-container .activities-detail-section .content-3 svg {
    max-height: 600px;
    margin-left: -50px; }

  .about-information-section > .col-md-12 > div {
    width: 694px;
    margin-left: auto;
    margin-right: auto; }

  .organisation-detail-container .contact-section .detail {
    margin-top: 10px; } }
.jspVerticalBar, .jspTrack {
  background: #f9f9f9 !important; }

.jspVerticalBar {
  width: 4px !important;
  right: 3px !important; }

.jspDrag {
  border-radius: 4px;
  background: #d8d8d8 !important; }

.jspScrollable:focus {
  outline: none; }

text {
  font: 12px Open-Sans-Regular; }

@media all and (min-width: 1000px) {
  .width-900 {
    width: 900px;
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .information-wrapper img {
    width: auto; }

  .organization-wrapper ul {
    text-align: center; }
    .organization-wrapper ul li {
      width: auto;
      padding-right: 32px;
      height: 92px; }
      .organization-wrapper ul li:last-child {
        padding-right: 0; }

  .organisation-detail-container .activities-detail-section .content-1 {
    padding-top: 50px; }
  .organisation-detail-container .activities-detail-section .content-2 {
    margin-bottom: 40px; }
    .organisation-detail-container .activities-detail-section .content-2 .content-item {
      width: 47.8%;
      margin-right: 40px;
      padding: 35px 35px 26px;
      min-height: 198px; }
  .organisation-detail-container .activities-detail-section .content-3 .content-item {
    padding: 35px; } }
@media all and (max-width: 599px) {
  .navbar-default .navbar-toggle {
    background: transparent;
    border: none;
    padding: 0; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: transparent; }
    .navbar-default .navbar-toggle .icon-bar {
      width: 25px;
      height: 3px;
      background: #00A8FF; }

  /*
   * Support for: Chrome 36+, IE9+, Firefox, 16+, Safari 3.2+
  */
  .navbar-toggle {
    margin-top: 13px;
    z-index: 3; }

  .navbar-toggle * {
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .navbar-toggle {
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 0px;
    border-radius: 0px;
    border: none; }

  .navbar-toggle.collapsed span {
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    display: block;
    background: #00A8FF; }

  .navbar-toggle span {
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    display: block;
    background: #fff; }

  .navbar-toggle span.bar1 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: 1px 1px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    -o-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    width: 24px; }

  .navbar-toggle span.bar2 {
    -ms-transform: rotate(-360deg) scale(0);
    -webkit-transform: rotate(-360deg) scale(0);
    -moz-transform: rotate(-360deg) scale(0);
    -o-transform: rotate(-360deg) scale(0);
    transform: rotate(-360deg) scale(0); }

  .navbar-toggle span.bar3 {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: 5px 4px;
    -webkit-transform-origin: 5px 4px;
    -moz-transform-origin: 5px 4px;
    -o-transform-origin: 5px 4px;
    transform-origin: 5px 4px;
    width: 24px; }

  .navbar-toggle.collapsed span.bar1,
  .navbar-toggle.collapsed span.bar2,
  .navbar-toggle.collapsed span.bar3 {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 24px; }

  .navbar-default .navbar-collapse {
    position: absolute;
    background: rgba(18, 18, 18, 0.95);
    top: 0;
    right: 0;
    left: 0;
    min-height: 470px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .navbar-default .navbar-collapse .navbar-nav {
      margin-top: 100px;
      border-top: 2px solid rgba(255, 255, 255, 0.1);
      padding-top: 50px; }
      .navbar-default .navbar-collapse .navbar-nav > li {
        padding-bottom: 30px;
        color: #fff; }
        .navbar-default .navbar-collapse .navbar-nav > li > a {
          font-size: 20px;
          line-height: 2;
          color: #fff;
          text-decoration: none;
          border-bottom: 2px solid transparent;
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -ms-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
          display: inline-block;
          padding-bottom: 0; }
          .navbar-default .navbar-collapse .navbar-nav > li > a:hover {
            color: #B7B7B7;
            border-bottom: 2px solid #fff; }
    .navbar-default .navbar-collapse .action-btn.pull-left {
      text-align: center;
      float: none !important; }
  .navbar-default .navbar-collapse.out {
    z-index: 1;
    opacity: 1;
    pointer-events: auto; } }

/*# sourceMappingURL=style.css.map */
