@media (max-width: 768px){
  .container--shadow {
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .container--shadow {
    box-shadow: none;
    margin: 0 0 20px;
  }

  .header-name-value{
    .col-xs-6{
      width: 100%;
      float: none;
    }
  }

}

