@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
a {
  color: #7a82f5; }
  a:hover, a:focus, a:active {
    color: #4b55f1; }

::-webkit-input-placeholder {
  color: rgba(72, 72, 72, 0.72); }

::-moz-placeholder {
  color: rgba(72, 72, 72, 0.72); }

:-ms-input-placeholder {
  color: rgba(72, 72, 72, 0.72); }

input:-webkit-autofill, input:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f4fdf7 inset !important;
  box-shadow: 0 0 0 1000px #f4fdf7 inset !important; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa; }

body:not(.front-page, .lite) .navbar {
  border-bottom: solid 1px rgba(151, 151, 151, 0.2); }

@media (min-width: 768px) {
  body:not(.front-page, .lite) .navbar {
    padding: 18px 30px; } }

h1 {
  line-height: 55px; }
  @media (max-width: 480px) {
    h1 {
      font-size: 24px;
      line-height: 30px; } }

h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 20px; }
  @media (max-width: 480px) {
    h2 {
      font-size: 18px;
      line-height: 24px; } }

.introduction-wrapper {
  padding: 90px 0 50px; }
  .introduction-wrapper h1 a {
    color: #7a82f5;
    border-bottom: 2px solid #7a82f5; }

@media (max-width: 480px) {
  .introduction-wrapper {
    padding-top: 40px; }
    .introduction-wrapper h1 {
      font-size: 24px;
      line-height: 36px; } }

@media (min-width: 768px) {
  .introduction-wrapper h2 {
    width: 694px;
    margin: 0 auto 30px; } }

.title {
  font-family: Open-Sans-Bold;
  margin-bottom: 15px; }

.title-section {
  margin-bottom: 20px;
  padding: 40px 20px 20px; }
  .title-section h1 {
    margin-bottom: 8px; }
  .title-section > div, .title-section h1 {
    text-align: center; }
  .title-section > div:first-of-type {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 22px; }
  .title-section > div:nth-child(3) {
    font-size: 11px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 480px) {
    .title-section {
      padding: 20px 20px;
      margin-bottom: 0; } }

.container--shadow {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.28);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 10px; }

.btn, input[type="submit"], .btn-register {
  background-color: #7a82f5 !important;
  -webkit-transition: all 0.35s ease-in-out;
          transition: all 0.35s ease-in-out;
  border: 0 !important; }
  .btn:hover, .btn:active, .btn:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus, .btn-register:hover, .btn-register:active, .btn-register:focus {
    -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
    background-color: #4b55f1 !important;
    border: 0 !important; }

.btn-link, .modal-dialog .close span, .modal-dialog .close:hover span, .modal-dialog .close:focus span {
  color: #7a82f5; }
  .btn-link:hover, .modal-dialog .close span:hover, .modal-dialog .close:hover span:hover, .modal-dialog .close:focus span:hover {
    color: #4b55f1; }

.navbar-toggle.collapsed span {
  background: #7a82f5; }

.organisations-list ul li a {
  background: #fff;
  padding: 0; }

.organisation-list-wrapper input[type='text'] {
  border: none !important; }

#tzmap {
  background: none;
  border-bottom: 1px solid #ACD2E1;
  height: 580px;
  width: 100%;
  z-index: 88; }

.right-map-section #tzmap {
  height: 300px; }

.map-section {
  width: 100%;
  background: #BCEDFF url(../../../images/ic_map.svg) no-repeat top center;
  margin-bottom: 46px;
  position: relative; }
  .map-section .select-block-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .map-section #reset {
    display: none; }
  .map-section .sector-title {
    max-height: 224px;
    max-width: 250px;
    background: #fff;
    position: relative;
    z-index: 88;
    padding: 10px 12px 4px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin: 0 0 6px;
    -webkit-box-shadow: 0 6px 40px -4px rgba(0, 0, 0, 0.5); }
  .map-section h3 {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
    color: rgba(72, 72, 72, 0.6);
    z-index: 999;
    position: relative; }

.detail-page-map {
  margin-bottom: 55px;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0; }

.select-cards-wrap {
  margin: 80px auto 100px; }

.card {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: auto; }
  .card .card-header {
    padding: 9px 25px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    margin-bottom: 0;
    z-index: 9;
    position: relative;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase; }
  .card .card-body {
    background-color: #F0F6F8;
    z-index: 8;
    position: relative; }
    .card .card-body .checkbox {
      margin: 0; }
      .card .card-body .checkbox input[type=checkbox] {
        margin-left: -12; }
      .card .card-body .checkbox label {
        border-bottom: solid 1px #DDEBF1;
        display: block;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 8px; }

#regions > div, #sectors > div {
  padding: 8px 26px 0; }

.small-card {
  max-height: 190px;
  max-width: 250px;
  margin-bottom: 12px;
  z-index: 99;
  position: relative; }
  .small-card .card-body {
    height: 179px;
    width: 250px !important;
    overflow: auto; }

table {
  border-collapse: inherit;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }
  table tbody tr.clickable-row {
    cursor: pointer; }
  table tbody tr.link-row {
    cursor: pointer; }
  table tbody tr.clickable-row-bg {
    background: #EEF4FB !important; }
    table tbody tr.clickable-row-bg:nth-child(even) {
      background: #EEF4FB !important; }

th {
  font-weight: 600;
  text-align: left;
  vertical-align: middle; }

tr, td {
  vertical-align: middle; }

.table {
  table-layout: auto; }
  .table > thead > tr > th {
    text-transform: uppercase;
    font: normal 13px Open-Sans-Bold;
    color: #484848;
    border-bottom: 1px solid #d9f3de;
    padding: 15px 20px 12px; }
  .table > tbody > tr {
    background: #fff !important; }
    .table > tbody > tr:hover {
      background: #e4f7e8 !important; }
    .table > tbody > tr > td {
      border-top: 0;
      border-bottom: 1px solid #d9f3de;
      padding: 10px 20px;
      word-wrap: break-word; }
    .table > tbody > tr:nth-child(odd) {
      background: #f3fdf5 !important; }
      .table > tbody > tr:nth-child(odd):hover {
        background: #e4f7e8 !important; }

/* ------- style for bordered table --------*/
.custom-table {
  margin-bottom: 60px; }
  .custom-table .table > thead > tr > th {
    border-bottom: solid 1px #d8d8d8; }
  .custom-table td {
    color: #484848; }
  .custom-table tr .bold-col {
    font-family: Open-Sans-Bold; }
  .custom-table tr .light-col {
    color: rgba(72, 72, 72, 0.5); }

/* Hide table headers (but not display: none;, for accessibility) */
/*
  Label the data
  */
@media all and (max-width: 767px) {
  *:not(.xdsoft_calendar) > table {
    display: block; }
    *:not(.xdsoft_calendar) > table thead, *:not(.xdsoft_calendar) > table tbody, *:not(.xdsoft_calendar) > table th, *:not(.xdsoft_calendar) > table td, *:not(.xdsoft_calendar) > table tr {
      display: block; }
  .custom-table {
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0; }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr {
    border: 1px solid #eee; }
  .table > tbody > tr > td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    overflow: hidden;
    min-height: 48px; }
    .table > tbody > tr > td:before {
      position: absolute;
      top: 15px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap; }
  .table > tbody > tr > td.no-data {
    padding-left: 0 !important;
    margin-bottom: 0; }
  .project-data-table td:nth-of-type(1):before {
    content: "Project Title"; }
  .project-data-table td:nth-of-type(2):before {
    content: "Reporting Organisation"; }
  .project-data-table td:nth-of-type(3):before {
    content: "Sectors"; }
  .project-data-table .no-data {
    margin: 0; }
    .project-data-table .no-data:before {
      display: none; }
  .expenditure-table td:nth-of-type(1):before, .incoming-fund-table td:nth-of-type(1):before {
    content: "DATE"; }
  .expenditure-table td:nth-of-type(2):before, .incoming-fund-table td:nth-of-type(2):before {
    content: "AMOUNT"; }
  .expenditure-table td:nth-of-type(2):before, .incoming-fund-table td:nth-of-type(2):before {
    content: "RECEIVER"; }
  .navbar-nav {
    margin: 0; } }

.container--shadow {
  margin-bottom: 30px; }

.container--shadow--buffer-top {
  padding-top: 20px; }

.small-container {
  max-width: 960px; }

.organization-logo img {
  max-width: 124px;
  width: auto;
  height: auto;
  max-height: 124px; }

.name-value-section {
  margin-bottom: 30px; }
  .name-value-section dl {
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
    margin-bottom: 0; }
  .name-value-section dt, .name-value-section dd {
    padding: 10px 0; }
  .name-value-section dt {
    color: rgba(72, 72, 72, 0.7);
    padding-right: 15px; }
  .name-value-section dd {
    padding-left: 12px; }
    .name-value-section dd span {
      color: #818181;
      font-style: italic; }

.list-wrap > div {
  position: relative;
  margin-bottom: 6px; }
  .list-wrap > div:nth-last-child {
    margin-bottom: 0; }
  .list-wrap > div:before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    left: -12px;
    top: 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

/* -------- style for header name-value section ------------- */
.header-name-value {
  margin: 0 0 20px;
  border-top: solid 1px #e3e3e3; }
  .header-name-value .col-md-3 {
    padding: 0; }
  .header-name-value.name-value-section dl {
    border-bottom: none;
    margin: 15px 0 0; }
  .header-name-value.name-value-section dt {
    font-size: 12px;
    line-height: 18px;
    padding: 0; }
  .header-name-value.name-value-section dd {
    padding: 0; }
    .header-name-value.name-value-section dd.amount {
      font-size: 26px;
      line-height: 32px;
      font-family: Open-Sans-Bold; }
  @media (max-width: 480px) {
    .header-name-value {
      text-align: center; } }

.intro-section {
  margin-bottom: 40px; }

.vertical-horizontal-center-wrap {
  display: table;
  vertical-align: middle;
  min-height: 300px;
  height: 100%;
  text-align: center; }
  .vertical-horizontal-center-wrap .vertical-horizontal-centerize {
    display: table-cell;
    vertical-align: middle; }
  .vertical-horizontal-center-wrap .organization-logo {
    margin-bottom: 10px; }

/*style for organization detail*/
.social-logo {
  margin-bottom: 10px; }
  .social-logo span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 5px; }
    .social-logo span a {
      display: inline-block;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      width: 16px;
      height: 16px; }
    .social-logo span:last-child {
      margin-right: 0; }
  .social-logo a.mail {
    background: url(/images/ic-mail.svg) no-repeat left; }
  .social-logo a.web {
    background: url(/images/ic-web.svg) no-repeat left; }
  .social-logo a.twitter {
    background: url(/images/ic-twitter.svg) no-repeat left; }

.organisation-detail-container .address {
  margin: 10px 0 0;
  display: inline-block;
  padding-left: 20px; }

.organisation-detail-container .tel {
  display: inline-block;
  margin-left: 20px; }

.organisations-list ul li img {
  width: 100%; }

.organisations-list ul li:hover {
  -webkit-box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.2); }

.organisations-list ul li img {
  max-width: 150px;
  width: auto;
  height: auto;
  max-height: 150px; }

.transactions-wrap {
  padding: 0 15px;
  padding: 0 36px 0;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2); }
  .transactions-wrap > .title {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px; }
  .transactions-wrap .activity-element-wrapper {
    padding: 0 0 10px;
    border-bottom: 1px dashed #ededed; }
  .transactions-wrap .activity-element-wrapper:nth-last-child(1) {
    border-bottom: 0;
    padding-bottom: 0; }

.element-panel-heading .col-md-3 {
  float: none; }

.element-panel-heading .col-md-9 {
  padding: 0; }

.element-panel-heading .edit-btn {
  padding: 4px 6px;
  border: solid 1px #00A8FF;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  width: 60px;
  float: right;
  text-align: center; }
  .element-panel-heading .edit-btn:hover {
    background-color: #00A8FF;
    color: #fff; }

.element-panel-heading .override-section {
  display: block;
  float: none;
  text-align: right;
  font-size: 12px;
  border: solid 1px transparent;
  margin-top: 8px; }

.organisations-list ul .img-wrap {
  height: 150px; }
  .organisations-list ul .img-wrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .organisations-list ul .img-wrap img {
    display: inline-block;
    vertical-align: middle; }

.activity-element-list .title {
  margin-bottom: 0; }

.activity-element-list .add-more {
  margin-top: 4px; }

.see-all-activities {
  color: #00A8FF; }

.activity-more-info, .activity-sectors ul li {
  background: #e4f7e8; }

.activity-sectors ul li .material-icons {
  color: #00A8FF; }

#map {
  background: #EEFFF2; }

.org-transaction-wrapper {
  background-image: -webkit-linear-gradient(91deg, #4CBF73 2%, #5CE67C 99%);
  background-image: linear-gradient(-1deg, #4CBF73 2%, #5CE67C 99%); }

.form-block:not(:nth-last-child(1)) {
  border-bottom: 1px dashed #A9C6DE;
  margin-bottom: 10px; }

.create-form > form {
  padding: 25px 0 10px; }

.collection_form .row {
  margin-right: -15px;
  margin-left: -15px; }

.form-block .form-group {
  margin-bottom: 20px; }

.form-block .title {
  font-family: inherit;
  margin-bottom: 10px;
  font-weight: normal; }

.form-block .select2-container {
  margin-bottom: 0; }

.has-separate-delete {
  /*  there is no delete button*/ }
  .has-separate-delete li {
    min-height: 24px; }
  .has-separate-delete .edit-element + div {
    display: none !important; }

.activity-element-label .edit {
  float: right;
  margin-left: 4px; }

.has-delete-wrap {
  display: inline-block;
  margin-left: 4px;
  position: relative; }

.activity-element-label span:nth-last-child(1) {
  display: inline-block; }

.activity-element-wrapper .delete {
  position: absolute;
  top: -15px;
  right: auto;
  bottom: auto;
  left: auto;
  background: url(/images/ic-sprite.svg) -487px -486px no-repeat;
  text-indent: -9999px;
  width: 14px;
  height: 17px;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .activity-element-wrapper .delete:hover {
    background: url(/images/ic-sprite.svg) -487px -539px no-repeat;
    height: 22px;
    width: 16px;
    top: -20px;
    left: -3px; }

.activity-element-wrapper .delete .delete-transaction {
  background: none; }

.added-new-block:first-of-type .remove_from_collection {
  display: none; }

@media (max-width: 768px) {
  .container--shadow {
    margin: 20px; } }

@media (max-width: 480px) {
  .container--shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 0 20px; }
  .header-name-value .col-xs-6 {
    width: 100%;
    float: none; } }

/* ------- style for header banner ------- */
.container {
  padding-right: 0;
  padding-left: 0; }

.action-btn {
  margin: 0; }
  .action-btn a {
    padding: 10px 15px;
    font-size: 14px; }

.navbar-header {
  width: 100%;
  margin-top: 0 !important; }
  @media only screen and (min-width: 671px) {
    .navbar-header {
      width: auto; } }

.navbar-brand {
  background: none !important;
  padding: 0;
  width: 200px; }

.header-banner .navbar {
  padding: 12px 16px;
  margin: 0;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 2px 40px 0 #bbb;
          box-shadow: 0 2px 40px 0 #bbb; }

.navbar-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar-default {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbar-default:before, .navbar-default:after {
    display: none; }
  .navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.5);
    margin: 0 24px 0 0;
    font-size: 14px; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a.active {
      color: #7a82f5; }

.np-section {
  padding: 40px 0;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .np-section {
      padding: 116px 0 88px; } }
  .np-section:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    height: 4px;
    opacity: 0.5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#656973), to(#35383f));
    background-image: -webkit-linear-gradient(bottom, #656973, #35383f);
    background-image: linear-gradient(to top, #656973, #35383f); }
  .np-section .section-title {
    color: #35383f;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    line-height: normal;
    font-family: 'Bree Serif', serif;
    padding: 0 10px; }
    @media only screen and (min-width: 768px) {
      .np-section .section-title {
        font-size: 40px;
        margin-bottom: 40px;
        padding: 0; } }
    @media only screen and (min-width: 992px) {
      .np-section .section-title {
        font-size: 48px;
        margin-bottom: 60px; } }
    .np-section .section-title.mb-lg {
      margin-bottom: 30px; }
      @media only screen and (min-width: 768px) {
        .np-section .section-title.mb-lg {
          margin-bottom: 50px; } }
      @media only screen and (min-width: 992px) {
        .np-section .section-title.mb-lg {
          margin-bottom: 90px; } }
  .np-section .card-img {
    margin-bottom: 20px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .np-section .card-img {
        margin-bottom: 45px; } }
    .np-section .card-img img {
      margin: 0 auto; }
  .np-section .card {
    background: #fff;
    padding: 24px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin-bottom: 20px; }
    @media only screen and (min-width: 992px) {
      .np-section .card {
        padding: 48px 54px;
        margin-bottom: 0; } }
  .np-section .card-content h2 {
    font-size: 18px;
    margin-bottom: 16px;
    color: #484848; }
    @media only screen and (min-width: 768px) {
      .np-section .card-content h2 {
        font-size: 20px; } }
  .np-section .card-content p {
    font-size: 14px;
    color: #484848;
    margin: 0;
    line-height: normal; }
    @media only screen and (min-width: 768px) {
      .np-section .card-content p {
        font-size: 16px; } }
  .np-section .full-width {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media only screen and (min-width: 768px) {
      .np-section .full-width {
        margin-bottom: 120px; } }
    @media only screen and (min-width: 992px) {
      .np-section .full-width {
        max-width: 992px;
        margin: 0 auto 180px; } }
    .np-section .full-width.reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .np-section .full-width:last-child {
      margin-bottom: 0; }
    .np-section .full-width .img-block img {
      width: 100%;
      height: 100%; }
      @media only screen and (min-width: 992px) {
        .np-section .full-width .img-block img {
          width: auto;
          height: 270px; } }
    .np-section .full-width h2 {
      font-family: 'Bree Serif', serif;
      font-size: 18px;
      color: #000;
      margin-bottom: 22px; }
    .np-section .full-width p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
      line-height: 24px;
      margin: 0; }

.introduction-wrapper {
  position: relative;
  height: 480px;
  color: #fff;
  padding: 0;
  background: url("/images/np/hero-banner-image.jpg") no-repeat center/cover; }
  .introduction-wrapper:before {
    content: '';
    position: absolute;
    background: url("/images/np/hero-banner.png") no-repeat bottom/cover;
    height: 100%;
    width: 100%;
    display: block;
    bottom: -1px;
    -webkit-filter: contrast(0.96);
            filter: contrast(0.96);
    z-index: 2; }
  .introduction-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(8, 6, 6, 0.6)), to(#000000));
    background-image: -webkit-linear-gradient(left, rgba(8, 6, 6, 0.6), #000000);
    background-image: linear-gradient(to right, rgba(8, 6, 6, 0.6), #000000);
    opacity: 0.9;
    z-index: 1; }
  .introduction-wrapper .container {
    position: relative;
    z-index: 2; }
  @media only screen and (min-width: 768px) {
    .introduction-wrapper {
      background-size: cover;
      height: 600px;
      background-position: top; } }
  @media only screen and (min-width: 992px) {
    .introduction-wrapper {
      height: -webkit-calc(100vh - 66px);
      height: calc(100vh - 66px); } }
  @media only screen and (min-width: 992px) {
    .introduction-wrapper .hero-content {
      max-width: 430px; } }
  @media only screen and (min-width: 1440px) {
    .introduction-wrapper .hero-content {
      max-width: 100%; } }
  .introduction-wrapper .d-none {
    display: none; }
    @media only screen and (min-width: 992px) {
      .introduction-wrapper .d-none {
        display: block; } }
  .introduction-wrapper .hero-image {
    display: none; }
    @media only screen and (min-width: 992px) {
      .introduction-wrapper .hero-image {
        display: block; } }
    @media only screen and (min-width: 1200px) {
      .introduction-wrapper .hero-image img {
        height: 430px; } }
    @media only screen and (min-width: 1440px) {
      .introduction-wrapper .hero-image img {
        height: 520px; } }
  .introduction-wrapper .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .introduction-wrapper .lead {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 15px;
    font-family: 'Bree Serif', serif; }
    @media only screen and (min-width: 768px) {
      .introduction-wrapper .lead {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px; } }
    @media only screen and (min-width: 1440px) {
      .introduction-wrapper .lead {
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 30px; } }
  .introduction-wrapper .description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 600;
    width: auto;
    color: #fff; }
    @media only screen and (min-width: 768px) {
      .introduction-wrapper .description {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 34px; } }
    @media only screen and (min-width: 1440px) {
      .introduction-wrapper .description {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px; } }

.information-wrapper {
  border-bottom: 0; }

@media only screen and (min-width: 992px) {
  .highlight-content {
    max-width: 430px; } }

.feature-logo {
  max-width: 700px;
  margin: 0 10px 30px;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  padding: 40px 20px; }
  @media only screen and (min-width: 768px) {
    .feature-logo {
      margin: 0 auto 66px;
      padding: 87px; } }
  .feature-logo:hover, .feature-logo:focus {
    -webkit-box-shadow: 0 3px 50px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 50px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px); }
  .feature-logo img {
    height: 60px; }
    @media only screen and (min-width: 768px) {
      .feature-logo img {
        height: 108px; } }

.feature-content p {
  font-family: "Bree Serif", Serif;
  font-size: 32px;
  color: #4a4a4a;
  line-height: 40px;
  margin: 0 0 55px; }

.get-started-btn {
  padding: 14px 60px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0; }

.municipality-login section {
  display: block; }

.municipality-login .navbar-default .navbar-collapse {
  margin: 0;
  padding: 0; }

.municipality-login .login-container {
  padding: 0; }

.municipality-login .row {
  margin: 0; }

.municipality-login .panel {
  background: transparent;
  text-align: center; }

.municipality-login .registration-inner-wrapper .form-control[readonly],
.municipality-login .registration-inner-wrapper .select2-container,
.municipality-login .registration-inner-wrapper input:not([type]),
.municipality-login .registration-inner-wrapper input[type=color],
.municipality-login .registration-inner-wrapper input[type=date],
.municipality-login .registration-inner-wrapper input[type=datetime-local],
.municipality-login .registration-inner-wrapper input[type=datetime],
.municipality-login .registration-inner-wrapper input[type=email],
.municipality-login .registration-inner-wrapper input[type=month],
.municipality-login .registration-inner-wrapper input[type=number],
.municipality-login .registration-inner-wrapper input[type=password],
.municipality-login .registration-inner-wrapper input[type=search],
.municipality-login .registration-inner-wrapper input[type=tel],
.municipality-login .registration-inner-wrapper input[type=text],
.municipality-login .registration-inner-wrapper input[type=time],
.municipality-login .registration-inner-wrapper input[type=url],
.municipality-login .registration-inner-wrapper input[type=week],
.municipality-login .registration-inner-wrapper select, .municipality-login .registration-inner-wrapper textarea,
.municipality-login .registration-inner-wrapper textarea.form-control {
  background-color: #F2F9FC !important;
  border: 1px solid #BFDFEC !important;
  text-align: left; }

.municipality-login .registration-inner-wrapper input[type=search].select2-search__field {
  border: none !important; }

.municipality-login .registration-inner-wrapper .select2-container {
  max-height: 40px;
  height: auto;
  overflow-y: scroll; }

.municipality-login .registration-inner-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice:last-of-type {
  margin-bottom: 0; }

.municipality-page {
  background: #fff; }
  .municipality-page .np-section {
    padding: 0 10px; }
    .municipality-page .np-section:after {
      display: none; }
    .municipality-page .np-section.bg-grey {
      max-width: 1170px;
      margin: 0 auto;
      padding: 50px;
      display: block;
      background: #f6f8fa; }
  .municipality-page .section-grid {
    max-width: 1170px;
    margin: 50px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .municipality-page .section-card {
    padding: 30px 15px; }
    .municipality-page .section-card.bg-grey {
      background: #f6f8fa; }
    .municipality-page .section-card h3 {
      font-size: 16px;
      color: #4a4a4a;
      text-transform: uppercase;
      margin: 0; }
    .municipality-page .section-card .header {
      margin-bottom: 25px; }
    .municipality-page .section-card .body {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .municipality-page .stats .number {
    font-size: 60px;
    font-weight: 600;
    color: #4a4a4a;
    margin-bottom: 5px; }
  .municipality-page .stats .text {
    font-size: 10px;
    color: rgba(74, 74, 74, 0.7);
    text-transform: uppercase; }

.introduction-wrapper.municipality .container {
  position: relative;
  z-index: 2; }

.introduction-wrapper.municipality:before {
  display: none; }

.project-card .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  margin-bottom: 22px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.3); }

.project-card h2 {
  color: #35383f;
  font-size: 26px;
  padding-left: 36px;
  margin: 0; }

.project-card .search {
  position: relative; }
  .project-card .search:before {
    background: url("/images/np/ic_search.png") no-repeat;
    background-size: 12px;
    content: '';
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 12px;
    width: 12px;
    height: 12px;
    z-index: 1;
    opacity: 0.3; }
  .project-card .search input {
    border: 1px solid #fff;
    background: #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    outline: none;
    width: 280px;
    padding: 8px 15px 8px 46px;
    font-size: 12px;
    color: #35383f; }
    .project-card .search input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.3); }
    .project-card .search input::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.3); }
    .project-card .search input:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.3); }
    .project-card .search input:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.3); }

.project-card .table th {
  color: rgba(53, 56, 63, 0.5);
  font-size: 12px;
  font-weight: 300;
  padding: 0 0 32px; }
  .project-card .table th:first-child {
    padding-left: 24px; }

.project-card tbody tr:nth-child(odd) {
  background-color: #fff; }

.project-card tbody td {
  color: rgba(53, 56, 63, 0.5);
  font-size: 12px;
  padding: 19px 10px 19px 0; }
  .project-card tbody td:first-child {
    color: #35383f;
    font-size: 14px;
    padding-left: 24px; }

#sector-bar-chart {
  width: 475px; }

#organization-bar-chart {
  width: 250px; }

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.axis text {
  font-size: 1.3em; }

.about-wrapper {
  padding: 80px 0 0; }
  .about-wrapper .screenshot {
    background: #7b85f2; }

.about-banner-content {
  max-width: 768px;
  margin: 0 auto 80px; }

footer {
  padding: 0; }
  @media only screen and (min-width: 768px) {
    footer {
      padding: 0; } }

.footer-top-wrapper {
  padding: 0 0 20px;
  margin-top: 60px;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(8, 6, 6, 0.6)), to(#000000));
  background-image: -webkit-linear-gradient(left, rgba(8, 6, 6, 0.6), #000000);
  background-image: linear-gradient(to right, rgba(8, 6, 6, 0.6), #000000);
  position: relative; }
  .footer-top-wrapper:before {
    content: '';
    position: absolute;
    background: url("/images/np/footer-banner.png") no-repeat;
    background-size: 100%;
    background-position: top;
    height: 100%;
    width: 100%;
    display: block;
    top: -1px;
    -webkit-filter: contrast(0.96);
            filter: contrast(0.96); }
  @media only screen and (min-width: 768px) {
    .footer-top-wrapper {
      overflow: hidden;
      padding-bottom: 60px; } }
  @media only screen and (min-width: 992px) {
    .footer-top-wrapper {
      margin-top: 120px;
      padding: 0 0 110px;
      background-size: 100%;
      background-position: bottom; } }
  @media only screen and (min-width: 1248px) {
    .footer-top-wrapper {
      background-position: unset; } }
  .footer-top-wrapper .contact {
    padding-top: 70px;
    margin-bottom: 91px;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 768px) {
      .footer-top-wrapper .contact {
        padding: 0; } }
    .footer-top-wrapper .contact h2 {
      font-family: 'Bree Serif', serif;
      font-size: 30px;
      line-height: normal;
      color: #fff;
      margin: 0 0 24px; }
      @media only screen and (min-width: 768px) {
        .footer-top-wrapper .contact h2 {
          font-size: 32px;
          color: #484848; } }
  .footer-top-wrapper .get-started-btn {
    padding: 22px 87px;
    -webkit-border-radius: 8px;
            border-radius: 8px; }
  .footer-top-wrapper .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 300px; }
    .footer-top-wrapper .nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      margin-bottom: 16px; }
      .footer-top-wrapper .nav ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 20px; }
        @media only screen and (min-width: 992px) {
          .footer-top-wrapper .nav ul li {
            min-width: 150px;
            margin-bottom: 0;
            text-align: left;
            width: auto; }
            .footer-top-wrapper .nav ul li:last-child {
              margin-right: 0; } }
        .footer-top-wrapper .nav ul li:last-child {
          margin-bottom: 0; }
      .footer-top-wrapper .nav ul:last-child {
        margin-bottom: 0; }
  .footer-top-wrapper a {
    color: #fff; }

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media only screen and (min-width: 768px) {
    .footer-content {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .footer-content > div {
    margin-bottom: 20px;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .footer-content > div {
        margin-bottom: 0;
        width: auto; } }
  .footer-content .social-wrap ul {
    margin: 0; }
    .footer-content .social-wrap ul li {
      margin-bottom: 18px; }
      .footer-content .social-wrap ul li:last-child {
        margin-bottom: 0; }
  .footer-content .social-wrap a {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media only screen and (min-width: 768px) {
      .footer-content .social-wrap a {
        -webkit-box-pack: inherit;
        -webkit-justify-content: inherit;
            -ms-flex-pack: inherit;
                justify-content: inherit; } }
    .footer-content .social-wrap a:before {
      background: url("/images/social-sprite.svg") no-repeat;
      float: left;
      content: '';
      width: 32px;
      height: 32px;
      margin-right: 8px; }
    .footer-content .social-wrap a.github:before {
      background-position: -62px 0; }
    .footer-content .social-wrap a.twitter:before {
      background-position: 0 0; }

.municipality-page .footer-top-wrapper:before {
  -webkit-filter: contrast(1);
          filter: contrast(1); }

.sidebar-wrapper ul li a.active {
  background: #00A8FF; }

.add-dropdown .avatar-img, .add-new-activity .avatar-img, .navbar-admin-dropdown .avatar-img {
  border-color: #00A8FF; }

.form__block, .panel__heading {
  border-bottom: 1px solid white; }

.panel__body {
  background: #FDFFFE;
  min-height: -webkit-calc(100vh - 110px);
  min-height: calc(100vh - 110px); }

.panel__nav nav {
  -webkit-box-shadow: 0 2px 40px 10px #EDF9F0;
          box-shadow: 0 2px 40px 10px #EDF9F0; }

.form-control[readonly], form .select2-container, input:not([type]), input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea, textarea.form-control {
  background-color: white !important;
  border: 1px solid #ebf8ff !important;
  -webkit-box-shadow: none;
          box-shadow: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #00A8FF transparent transparent !important; }

.create-form form .datepicker {
  background: url(../../../images/ic_date-green.svg) no-repeat 97%; }

.upload-logo {
  background-image: url(../../../images/ic-camera-green.svg);
  border-color: #00A8FF; }

.change-logo, .upload-label, .view-more-actions ul li a:hover {
  color: #00A8FF; }

.sort-by-wrap select {
  border: 0 !important; }

.duplicate-activity:hover:before {
  background-position: -81px -34px; }

.delete-activity:hover:before {
  background-position: -81px -66px; }

.edit-activity:hover:before {
  background-position: -80px 0; }

.panel-users-settings .delete:hover {
  background: url(../../../images/ic-sprite.svg) -393px -267px no-repeat; }

.organisation-account-wrapper p > a {
  background: none !important;
  border: 1px solid #00A8FF !important;
  color: #00A8FF; }

@media (min-width: 480px) {
  .similar-org-container .btn-search {
    height: 40px; } }

#location h2 + .row {
  margin: 0; }

.create-form .location > label {
  background: url(../../../images/ic_tz-flag.svg) no-repeat 0 0;
  float: left;
  height: 40px;
  text-indent: -9999px;
  width: 60px; }
  .create-form .location > label + .form-group {
    float: left;
    margin-bottom: 0 !important;
    width: -webkit-calc(100% - 60px) !important;
    width: calc(100% - 60px) !important; }

#location .location > .form-group:not(.new-location-block) > .country {
  margin: 0;
  padding: 0 4px !important; }
  #location .location > .form-group:not(.new-location-block) > .country > label {
    display: none; }

#location .location > .form-group {
  padding: 0; }

#location .administrative {
  padding: 0 14px; }
  #location .administrative > label {
    display: none; }
  #location .administrative + .form-group {
    margin-bottom: 0 !important; }
  #location .administrative .added-new-block {
    margin: 0 0 10px !important;
    padding-top: 15px !important;
    width: 100% !important; }
    #location .administrative .added-new-block .point {
      top: 61px; }

#location .view_map {
  background: transparent url(../../../images/ic_map-use.svg) no-repeat left;
  color: #00A8FF;
  font-size: 14px;
  margin: 30px 0 0;
  padding-left: 18px;
  width: auto; }

#location .country + .administrative {
  float: none;
  padding-right: 0;
  width: 100%; }
  #location .country + .administrative .remove_from_collection {
    right: 0; }

#location .location > label + .form-group:not(.new-location-block) > .country > .select2-container {
  background: none !important;
  border: none !important;
  font-size: 14px;
  height: auto;
  padding: 0 10px;
  pointer-events: none; }

#location .location > label + .form-group:not(.new-location-block) > .country .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none !important; }

#location .new-location-block .country + .administrative {
  float: left;
  width: 50%; }

.add_another_location, .add_another_location:hover, .add_another_location:active, .add_another_location:focus,
.add-location, .add-location:hover, .add-location:active, .add-location:focus {
  background: 0 0;
  color: #484848;
  font-size: 12px;
  float: left;
  margin: 2px 0 20px;
  padding: 0 0 0 24px !important;
  position: relative; }
  .add_another_location:before, .add_another_location:hover:before, .add_another_location:active:before, .add_another_location:focus:before,
  .add-location:before, .add-location:hover:before, .add-location:active:before, .add-location:focus:before {
    border: 1px solid #484848;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: " + ";
    height: 18px;
    font-size: 20px;
    line-height: 16px;
    position: absolute;
    left: 0;
    width: 18px; }

.add-location, .add-location:hover, .add-location:focus {
  bottom: -17px;
  left: 0;
  position: absolute;
  z-index: 1; }

.add_another_location:hover, .add_another_location:focus, .add-to-collection:hover, .add-to-collection:focus,
.add-location:hover, .add-location:focus {
  color: #00A8FF; }
  .add_another_location:hover:before, .add_another_location:focus:before, .add-to-collection:hover:before, .add-to-collection:focus:before,
  .add-location:hover:before, .add-location:focus:before {
    border-color: #00A8FF;
    color: #00A8FF; }

.region-container, .district-container, .point {
  padding: 0;
  margin-right: 12px; }

.map-location {
  float: left !important;
  margin-right: 0;
  padding: 0 4px !important;
  position: relative;
  width: 80px !important; }

.point {
  background: #fff;
  -webkit-box-shadow: 0 2px 40px 0 #C6D8CA;
          box-shadow: 0 2px 40px 0 #C6D8CA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: none;
  padding: 20px 5px;
  position: absolute;
  right: -100px;
  top: 56px;
  width: 490px !important;
  z-index: 100000000000; }
  .point:before {
    background: #fff;
    -webkit-box-shadow: 0 2px 40px 0 #C6D8CA;
            box-shadow: 0 2px 40px 0 #C6D8CA;
    content: " ";
    height: 8px;
    left: 50%;
    position: absolute;
    top: -4px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 8px; }
  .point > label {
    display: none; }
  .point > .form-group {
    margin: 0 !important;
    width: 100% !important; }
    .point > .form-group > .col-sm-6:first-child {
      padding-right: 10px; }
    .point > .form-group > .col-sm-6:last-child {
      padding-left: 10px; }
    .point > .form-group > .full-width-wrap {
      margin: 10px 0 0 !important;
      padding: 0 18px;
      width: -webkit-calc(100% - 13px) !important;
      width: calc(100% - 13px) !important; }

.remove_from_collection:hover {
  background-position: -393px -267px; }

.display.No, .display.No:hover,
.display.Yes, .display.Yes:hover {
  background: #F24A4A;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  height: 16px;
  margin: 2px 0 0 48px;
  position: relative;
  width: 28px; }
  .display.No span, .display.No:hover span,
  .display.Yes span, .display.Yes:hover span {
    background: #FCFFFD;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: block;
    height: 12px;
    margin: 2px 2px 0 0;
    text-indent: -9999px;
    width: 12px; }
  .display.No:before, .display.No:hover:before,
  .display.Yes:before, .display.Yes:hover:before {
    color: #484848;
    content: "No";
    font-family: Open-Sans-Bold;
    left: -25px;
    position: absolute;
    text-indent: 1px;
    top: -2px; }

.display.Yes, .display.Yes:hover {
  background: #1AAB3C;
  background-position: -500px -661px; }
  .display.Yes:before, .display.Yes:hover:before {
    content: "Yes";
    left: -28px; }
  .display.Yes span, .display.Yes:hover span {
    float: left !important;
    margin-left: 2px; }

.create-form .collection_form > .option-to-add-more {
  border-top: 1px solid #D5F5DC;
  display: inline-block;
  margin: 8px 0 0 !important;
  padding: 20px 0 10px !important;
  overflow: hidden;
  width: 100% !important; }

.create-form .collection_form > .new-location-block {
  border-top: 1px dashed #D5F5DC !important;
  margin: 0 !important;
  padding: 10px 0 !important;
  width: 100% !important; }
  .create-form .collection_form > .new-location-block .country > label {
    display: none; }
  .create-form .collection_form > .new-location-block .remove_from_collection, .create-form .collection_form > .new-location-block .remove_from_collection:focus {
    top: 5px; }
  .create-form .collection_form > .new-location-block .country {
    float: left; }
  .create-form .collection_form > .new-location-block .administrative {
    clear: none;
    float: left;
    width: 50%; }
    .create-form .collection_form > .new-location-block .administrative > .form-group {
      margin-bottom: 0 !important; }
    .create-form .collection_form > .new-location-block .administrative .view_map {
      margin-top: 10px !important; }
  .create-form .collection_form > .new-location-block:last-of-type {
    padding-bottom: 22px !important; }

.create-form .location .option-to-add-more + .new-location-block {
  border: 0 !important;
  margin: 0 0 10px !important;
  width: 100% !important; }

.form-group.col-sm-6.country {
  margin: 0 !important; }

.added-new-block {
  border-top: 1px dashed #D5F5DC !important; }

.location-wrap {
  float: left;
  position: relative; }
  .location-wrap .point {
    right: -220px;
    top: 38px; }

.organization-list-wrapper li a:hover {
  background: #e3fbe8; }

.auth-info-wrapper #add-user {
  color: #00A8FF; }
  .auth-info-wrapper #add-user:hover {
    color: #038ED6;
    text-decoration: underline; }

.btn-back {
  background: transparent !important;
  border: 1px solid #00A8FF !important;
  color: #00A8FF; }
  .btn-back:before {
    background: url(../../../images/ic-left-arrow-green.svg) no-repeat !important; }
  .btn-back:hover {
    background: #00A8FF !important;
    border: 1px solid #00A8FF !important;
    color: #fff; }
    .btn-back:hover:before {
      background: url(../../../images/ic-side-arrow.svg) no-repeat !important; }

.add-user-link a {
  color: #00A8FF; }
  .add-user-link a:before, .add-user-link a:after {
    background: #00A8FF; }
  .add-user-link a:hover {
    color: #038ED6; }

.panel__table {
  border-collapse: collapse !important; }
  .panel__table thead tr th {
    border-bottom: 1px solid #d9f3de; }
  .panel__table tr {
    background: #F3FDF5 !important; }
    .panel__table tr:first-of-type {
      border-color: #d9f3de !important; }
    .panel__table tr:first-child td {
      border-color: #d9f3de !important; }
    .panel__table tr:hover, .panel__table tr:nth-child(even):hover {
      background: #e4f7e8 !important; }
    .panel__table tr td {
      border-color: #d9f3de !important; }
      .panel__table tr td .view-more:hover > a {
        color: #00A8FF; }

.scrollup {
  background-color: rgba(0, 168, 255, 0.5); }
  .scrollup:hover {
    background-color: #00A8FF; }

.panel__status {
  border-bottom: 1px solid #d6f9de; }
  .panel__status .col-sm-4 {
    background-image: -webkit-radial-gradient(50% 0, circle, #f3fdf5, #f0fdf2);
    background-image: radial-gradient(circle at 50% 0, #f3fdf5, #f0fdf2);
    border-right: 1px solid #d6f9de; }
    .panel__status .col-sm-4:nth-child(even) {
      background-image: -webkit-radial-gradient(50% 0, circle, #f2fbf4, #dffde6);
      background-image: radial-gradient(circle at 50% 0, #f2fbf4, #dffde6); }

.add-more:hover, .add-more:focus {
  background: none;
  color: #00A8FF; }
  .add-more:hover:before, .add-more:focus:before {
    border: 1px solid #00A8FF; }

.panel__activity__more--info {
  background: #f3fdf5;
  border-color: #d6f9de; }

.activity__detail, .activity__block, .activity__detail__block li {
  border-color: #d6f9de; }

.remove_location {
  right: 0; }

.remove_location:hover, .remove_location:focus {
  background-position: -393px -267px; }

.add-activity-form {
  padding-bottom: 240px; }

@media (min-width: 700px) {
  .register-container .nav-tabs li.complete {
    background-image: url(../../../images/ic-sprite.svg); } }

/*# sourceMappingURL=maps/np.css.map */
