$img-path: "/images";
$light-black: rgba(0,0,0,0.5);
$blue-color: #00A2E0;
$link-color: #00A2E0;

body{
    background-color: #f4f4f4;

    &.front-page{
        background: #fff;
    }
}

a{
    text-decoration: none;
    color: $link-color;

    &:hover{
        color: $blue-color;
        text-decoration: none;
    }
}

body:not(.front-page) {
    .navbar {
        border-bottom: solid 1px rgba(151,151,151,0.2);
    }

    @media (min-width: 768px) {
        .navbar {
            padding: 18px 30px;
        }
    }
}

h1{
    font-family: Open-Sans-Bold;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0,0,0,0.7);

    @media (max-width: 480px) {
        font-size: 24px;
        line-height: 32px;
    }
}

.introduction-wrapper{
    h1{
        line-height: 52px;
    }

    @media (max-width: 480px) {
        font-size: 24px;
        line-height: 38px;
    }
}

.title{
    font-family: Open-Sans-Bold;
    margin-bottom: 15px;
}

.title-section {
    margin-bottom: 20px;
    padding: 40px 20px 20px;

    h1{
        margin-bottom: 8px;
    }

    & > div, h1{
        text-align: center;
    }

    & > div:first-of-type{
       color: rgba(0,0,0,0.7);
        margin-bottom: 22px;
    }

    & > div:nth-child(3){
        font-size: 11px;
        line-height: 17px;
        color: $light-black;
    }

    @media (max-width: 480px) {
        padding: 20px 20px;
        margin-bottom: 0;
    }
}

.container--shadow{
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.28);
    border-radius: 4px;
    margin-top: 10px;
}