/* ------- style for header banner ------- */

.container {
  padding-right: 0;
  padding-left: 0;
}

.action-btn {
  margin: 0;
  a {
    padding: 10px 15px;
    font-size: 14px;
  }
}

.navbar-header {
  width: 100%;
  margin-top: 0 !important;

  @media only screen and (min-width: 671px) {
    width: auto;
  }
}

.navbar-brand {
  background: none !important;
  padding: 0;
  width: 200px;
}

.header-banner {
  .navbar {
    padding: 12px 16px;
    margin: 0;
    position: relative;
    z-index: 100;
    box-shadow: 0 2px 40px 0 #bbb;
  }
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-default  {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:before, &:after {
    display: none;
  }

  .navbar-nav {
    > li > a {
      color: rgba(0, 0, 0, 0.5);
      margin: 0 24px 0 0;
      font-size: 14px;

      &:hover, &:focus, &.active {
        color: #7a82f5;
      }
    }
  }
}

.np-section {
  padding: 40px 0;
  position: relative;

  @include mq('tablet') {
    padding: 116px 0 88px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50px;
    border-radius: 4px;
    height: 4px;
    opacity: 0.5;
    background-image: linear-gradient(to top, #656973, #35383f);
  }

  .section-title {
    color: #35383f;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    line-height: normal;
    font-family: 'Bree Serif', serif;
    padding: 0 10px;

    @include mq('tablet') {
      font-size: 40px;
      margin-bottom: 40px;
      padding: 0;
    }

    @include mq('tablet-wide') {
      font-size: 48px;
      margin-bottom: 60px;
    }

    &.mb-lg {
      margin-bottom: 30px;

      @include mq('tablet') {
        margin-bottom: 50px;
      }

      @include mq('tablet-wide') {
        margin-bottom: 90px;
      }
    }
  }

  .card-img {
    margin-bottom: 20px;
    text-align: center;

    @include mq('tablet') {
      margin-bottom: 45px;
    }

    img {
      margin: 0 auto;
    }
  }

  .card {
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    margin-bottom: 20px;

    @include mq('tablet-wide') {
      padding: 48px 54px;
      margin-bottom: 0;
      height: 100%;
    }
  }

  .card-content {
    h2 {
      font-size: 18px;
      margin-bottom: 16px;
      color: #484848;
      text-align: center;

      @include mq('tablet') {
        font-size: 20px;
      }

      @include mq('tablet-wide') {
        text-align: left;
      }
    }

    p {
      font-size: 14px;
      color: #484848;
      margin: 0;
      line-height: normal;

      @include mq('tablet') {
        font-size: 16px;
      }
    }
  }

  .full-width {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @include mq('tablet') {
      margin-bottom: 120px;
    }

    @include mq('tablet-wide') {
      max-width: 992px;
      margin: 0 auto 180px;
    }

    &.reverse {
      flex-direction: row-reverse;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .img-block {
      img {
        width: 100%;
        height: 100%;

        @include mq('tablet-wide') {
          width: auto;
          height: 270px;
        }
      }
    }

    h2 {
      font-family: 'Bree Serif', serif;
      font-size: 18px;
      color: #000;
      margin-bottom: 22px;
    }

    p {
      font-size: 14px;
      color: rgba(#000, 0.7);
      line-height: 24px;
      margin: 0;
    }
  }
}

.introduction-wrapper {
  position: relative;
  height: 480px;
  color: #fff;
  padding: 0;
  background: url("/images/np/hero-banner-image.jpg") no-repeat center/cover;

  &:before {
    content: '';
    position: absolute;
    background: url("/images/np/hero-banner.png") no-repeat bottom/cover;
    height: 100%;
    width: 100%;
    display: block;
    bottom: -1px;
    filter: contrast(0.96);
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(8, 6, 6, 0.6), #000000);
    opacity: 0.9;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  @include mq('tablet') {
    background-size: cover;
    height: 600px;
    background-position: top;
  }

  @include mq('tablet-wide') {
    height: calc(100vh - 66px);
  }

  .hero-content {
    @include mq('tablet-wide') {
      max-width: 430px;
    }

    @include mq('desktop-wide') {
      max-width: 100%;
    }
  }

  .d-none {
    display: none;

    @include mq('tablet-wide') {
      display: block;
    }
  }

  .hero-image {
    display: none;

    @include mq('tablet-wide') {
      display: block;
    }

    @media only screen and (min-width: 1200px) {
      img {
        height: 430px;
      }
    }

    @include mq('desktop-wide') {
      img {
        height: 520px;
      }
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .lead {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 15px;
    font-family: 'Bree Serif', serif;

    @include mq('tablet') {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
    }

    @include mq('desktop-wide') {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 30px;
    }
  }

  .description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 600;
    width: auto;
    color: #fff;

    @include mq('tablet') {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 34px;
    }

    @include mq('desktop-wide') {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 40px;
    }
  }
}

.information-wrapper {
  border-bottom: 0;
}

.highlight-content {
  @include mq('tablet-wide') {
    max-width: 430px;
  }
}

.register-grid {
  .container {
    max-width: 800px;
  }

  .register-row {
    padding: 0 10px;

    @include mq('tablet') {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      padding: 0;
    }
  }

  .register-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq('tablet') {
      flex-basis: 50%;
      max-width: 50%;
      padding: 0 10px;
      margin: 0;
    }
  }

  .get-started-btn {
    padding: 14px 5px;
    width: 100%;
    border-radius: 2px;
    border: 2px solid #8690f3 !important;

    &.outline {
      background: transparent !important;
      border: 2px solid #8690f3 !important;
      color: #8690f3;
    }
  }

  .info-list {
    margin-bottom: 46px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 14px;
      color: #35383f;
      margin-bottom: 20px;
      padding-left: 30px;
      background: url("/images/np/ic_tick.png") no-repeat left 5px;
      background-size: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h2 {
    margin: 0 0 50px;
    font-family: "Bree Serif", Serif;
    color: #4a4a4a;
    font-size: 20px;

    @include mq('tablet') {
      font-size: 24px;
    }
  }

  .content {
    background: #ffffff;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    outline: 2px solid #fff;
    border-radius: 2px;

    @include mq('tablet') {
      padding: 60px 30px;
    }

    &:hover, &:focus {
      outline: 2px solid #8690f3;
      transition: all 0.3s ease-in-out;
      transform: translateY(-3px);

      .get-started-btn.outline {
        background: #8690f3 !important;
        color: #fff;
      }
    }

    img {
      height: 35px;
      margin-right: 16px;

      @include mq('tablet') {
        height: 51px;
      }
    }
  }
}

.feature-logo {
  max-width: 700px;
  margin: 0 10px 30px;
  background: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding: 40px 20px;

  @include mq('tablet') {
    margin: 0 auto 66px;
    padding: 87px;
  }

  &:hover, &:focus {
    box-shadow: 0 3px 50px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transform: translateY(-3px);
  }

  img {
    height: 60px;

    @include mq('tablet') {
      height: 108px;
    }
  }
}

#about {
  @include mq('tablet-wide') {
    .container {
      display: flex;
      flex-wrap: wrap;
    }


  }
}

.feature-content {
   p {
     font-family: "Bree Serif", Serif;
     font-size: 32px;
     color: #4a4a4a;
     line-height: 40px;
     margin: 0 0 55px;
   }
}

.get-started-btn {
  padding: 14px 60px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}
