body {
  background-color: #f4f4f4; }
  body.front-page {
    background: #fff; }

a {
  text-decoration: none;
  color: #00A2E0; }
  a:hover {
    color: #00A2E0;
    text-decoration: none; }

body:not(.front-page) .navbar {
  border-bottom: solid 1px rgba(151, 151, 151, 0.2); }

@media (min-width: 768px) {
  body:not(.front-page) .navbar {
    padding: 18px 30px; } }

h1 {
  font-family: Open-Sans-Bold;
  font-size: 36px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.7); }
  @media (max-width: 480px) {
    h1 {
      font-size: 24px;
      line-height: 32px; } }

.introduction-wrapper h1 {
  line-height: 52px; }

@media (max-width: 480px) {
  .introduction-wrapper {
    font-size: 24px;
    line-height: 38px; } }

.title {
  font-family: Open-Sans-Bold;
  margin-bottom: 15px; }

.title-section {
  margin-bottom: 20px;
  padding: 40px 20px 20px; }
  .title-section h1 {
    margin-bottom: 8px; }
  .title-section > div, .title-section h1 {
    text-align: center; }
  .title-section > div:first-of-type {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 22px; }
  .title-section > div:nth-child(3) {
    font-size: 11px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 480px) {
    .title-section {
      padding: 20px 20px;
      margin-bottom: 0; } }

.container--shadow {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.28);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 10px; }

#map {
  width: 100%;
  height: 550px;
  z-index: 88; }

.map-section {
  width: 100%;
  height: 550px;
  background: url(/images/ic_map.jpg) top left no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  position: relative; }
  .map-section .select-block-wrap {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0; }
  .map-section #reset {
    display: none; }

.detail-page-map {
  height: 350px;
  margin-bottom: 55px;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0; }
  .detail-page-map #map {
    height: 350px; }
  .detail-page-map .select-block-wrap {
    bottom: -65px;
    top: auto; }

.select-cards-wrap {
  margin-top: 20px;
  margin-bottom: 30px; }

.card {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: auto; }
  .card .card-header {
    padding: 15px 25px 10px 25px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    margin-bottom: 0;
    z-index: 9;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase; }
  .card .card-body {
    background-color: #f0f0f0;
    z-index: 8;
    position: relative; }
    .card .card-body .checkbox {
      margin: 0; }
      .card .card-body .checkbox input[type=checkbox] {
        margin-left: -12; }
      .card .card-body .checkbox label {
        padding: 12px 25px 6px 42px;
        border-bottom: solid 1px #e9e9e9;
        display: block; }

.small-card {
  max-height: 240px;
  max-width: 250px;
  margin-bottom: 10px;
  z-index: 99;
  position: relative; }
  .small-card .card-body {
    height: 195px;
    width: 250px;
    overflow: auto; }

/* Styles specific to this particular page */
/*.scroll-pane
{
  width: 100%;
  height: 200px;
  overflow: auto;
}*/
/*
.horizontal-only
{
  height: auto;
  max-height: 200px;
}
*/
/*
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }*/
table {
  border-collapse: inherit;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }
  table tbody {
    /*tr {
      td {
        &:first-child {
          border-left: 4px solid transparent;
        }
      }
      &:hover {
        td {
          &:first-child {
            border-left: 4px solid #00A8FF;
          }
        }
      }
    }*/ }
    table tbody tr.clickable-row {
      cursor: pointer; }
    table tbody tr.link-row {
      cursor: pointer; }
    table tbody tr.clickable-row-bg {
      background: #EEF4FB !important; }
      table tbody tr.clickable-row-bg:nth-child(even) {
        background: #EEF4FB !important; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  text-align: left;
  vertical-align: middle; }

tr, td {
  vertical-align: middle; }

.table {
  table-layout: auto; }
  .table > thead > tr > th {
    text-transform: uppercase;
    font: normal 12px Open-Sans-Regular;
    color: #484848;
    border-bottom: 1px solid rgba(72, 72, 72, 0.1);
    padding: 15px 20px 12px; }
  .table > tbody > tr {
    background: #fff !important; }
    .table > tbody > tr > td {
      border: 0;
      padding: 15px 20px 12px;
      word-wrap: break-word; }
    .table > tbody > tr:nth-child(even) {
      background: #f6f8fa !important; }

/* ------- style for bordered table --------*/
.custom-table {
  border: solid 1px #d8d8d8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px; }
  .custom-table .table > thead > tr > th {
    border-bottom: solid 1px #d8d8d8; }
  .custom-table td {
    color: #484848; }
  .custom-table tr .bold-col {
    font-family: Open-Sans-Bold; }
  .custom-table tr .light-col {
    color: rgba(72, 72, 72, 0.5); }

/* Hide table headers (but not display: none;, for accessibility) */
/*
  Label the data
  */
@media all and (max-width: 767px) {
  *:not(.xdsoft_calendar) > table {
    display: block; }
    *:not(.xdsoft_calendar) > table thead, *:not(.xdsoft_calendar) > table tbody, *:not(.xdsoft_calendar) > table th, *:not(.xdsoft_calendar) > table td, *:not(.xdsoft_calendar) > table tr {
      display: block; }
  .custom-table {
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0; }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr {
    border: 1px solid #eee; }
  .table > tbody > tr > td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    overflow: hidden;
    min-height: 48px; }
    .table > tbody > tr > td:before {
      position: absolute;
      top: 15px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap; }
  .table > tbody > tr > td.no-data {
    padding-left: 0 !important;
    margin-bottom: 0; }
  .project-data-table td:nth-of-type(1):before {
    content: "PROJECT TITLE"; }
  .project-data-table td:nth-of-type(2):before {
    content: "PROJECT IDENTIFIER"; }
  .expenditure-table td:nth-of-type(1):before, .incoming-fund-table td:nth-of-type(1):before {
    content: "DATE"; }
  .expenditure-table td:nth-of-type(2):before, .incoming-fund-table td:nth-of-type(2):before {
    content: "AMOUNT"; }
  .expenditure-table td:nth-of-type(2):before, .incoming-fund-table td:nth-of-type(2):before {
    content: "RECEIVER"; }
  .navbar-nav {
    margin: 0; } }

/* ------- style for header banner ------- */
.container {
  padding-right: 0;
  padding-left: 0; }

.navbar-brand, .footer-logo a {
  width: 182px;
  position: relative;
  display: block; }

.tanzania-flag {
  position: absolute;
  width: 18px;
  height: 12px;
  background: url(/images/ic_tanzania-flag.svg) center center no-repeat;
  top: 21px;
  right: 0; }

.header-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.92)), to(rgba(255, 255, 255, 0.92))), url("/images/tz-banner-bg.jpg") top center no-repeat;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("/images/tz-banner-bg.jpg") top center no-repeat;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("/images/tz-banner-bg.jpg") top center no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("/images/tz-banner-bg.jpg") top center no-repeat;
  background-size: cover; }
  .header-banner .navbar, .header-banner .navbar-default {
    background: transparent; }

/* ------- style for search section ------ */
.search-wrap {
  margin-top: 15px; }
  .search-wrap input {
    padding: 15px 20px 15px 47px;
    background: #fff url("/images/ic_search-darkgray.svg") top 12px left 15px no-repeat;
    -webkit-border-radius: 26px;
            border-radius: 26px;
    border: solid 2px #f2f2f2;
    outline: none;
    min-width: 372px;
    color: rgba(72, 72, 72, 0.72);
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
    position: relative; }
    .search-wrap input:hover, .search-wrap input:focus {
      outline: none; }

/* -------- style for footer -------- */
@media (min-width: 768px) {
  footer {
    padding: 84px 0 50px; } }

footer .footer-logo a img {
  float: left; }

.container--shadow {
  margin-bottom: 30px; }

.small-container {
  max-width: 760px; }

.name-value-section {
  margin-bottom: 30px; }
  .name-value-section dl {
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
    margin-bottom: 0; }
  .name-value-section dt, .name-value-section dd {
    padding: 10px 0; }
  .name-value-section dt {
    color: rgba(72, 72, 72, 0.7);
    padding-right: 15px; }
  .name-value-section dd {
    padding-left: 12px; }
    .name-value-section dd span {
      color: #818181;
      font-style: italic; }

.list-wrap > div {
  position: relative;
  margin-bottom: 6px; }
  .list-wrap > div:nth-last-child {
    margin-bottom: 0; }
  .list-wrap > div:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #00A2E0;
    position: absolute;
    left: -12px;
    top: 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

/* -------- style for header name-value section ------------- */
.header-name-value {
  margin: 0 0 20px;
  border-top: solid 1px #e3e3e3; }
  .header-name-value .col-md-3 {
    padding: 0; }
  .header-name-value.name-value-section dl {
    border-bottom: none;
    margin: 15px 0 0; }
  .header-name-value.name-value-section dt {
    font-size: 12px;
    line-height: 18px;
    padding: 0; }
  .header-name-value.name-value-section dd {
    padding: 0; }
    .header-name-value.name-value-section dd.amount {
      font-size: 26px;
      line-height: 32px;
      font-family: Open-Sans-Bold; }
  @media (max-width: 480px) {
    .header-name-value {
      text-align: center; } }

.intro-section {
  margin-bottom: 40px; }

.vertical-horizontal-center-wrap {
  display: table;
  vertical-align: middle;
  min-height: 277px;
  height: 100%;
  text-align: center; }
  .vertical-horizontal-center-wrap .vertical-horizontal-centerize {
    display: table-cell;
    vertical-align: middle; }
  .vertical-horizontal-center-wrap .organization-logo {
    margin-bottom: 10px; }

/*style for organization detail*/
.location span {
  margin: 10px 0 0;
  display: inline-block;
  padding-left: 20px;
  background: url(/images/ic-location.svg) no-repeat left; }

.social-logo {
  margin-bottom: 10px; }
  .social-logo span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 5px; }
    .social-logo span a {
      display: inline-block;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      width: 16px;
      height: 16px; }
    .social-logo span:last-child {
      margin-right: 0; }
  .social-logo a.mail {
    background: url(/images/ic-mail.svg) no-repeat left; }
  .social-logo a.web {
    background: url(/images/ic-web.svg) no-repeat left; }
  .social-logo a.twitter {
    background: url(/images/ic-twitter.svg) no-repeat left; }

.organisation-detail-container {
  /* .address {
    background: $url_6 no-repeat left;
  }
  .tel a {
    margin: 10px 0 0;
    display: inline-block;
    padding-left: 20px;
    background: $url_7 no-repeat left;
  }*/ }
  .organisation-detail-container .address {
    margin: 10px 0 0;
    display: inline-block;
    padding-left: 20px; }
  .organisation-detail-container .tel {
    display: inline-block;
    margin-left: 20px; }

table {
  border-collapse: inherit;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }
  table tbody {
    /*tr {
      td {
        &:first-child {
          border-left: 4px solid transparent;
        }
      }
      &:hover {
        td {
          &:first-child {
            border-left: 4px solid #00A8FF;
          }
        }
      }
    }*/ }
    table tbody tr.clickable-row {
      cursor: pointer; }
    table tbody tr.link-row {
      cursor: pointer; }
    table tbody tr.clickable-row-bg {
      background: #EEF4FB !important; }
      table tbody tr.clickable-row-bg:nth-child(even) {
        background: #EEF4FB !important; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  text-align: left;
  vertical-align: middle; }

tr, td {
  vertical-align: middle; }

.table {
  table-layout: auto; }
  .table > thead > tr > th {
    text-transform: uppercase;
    font: normal 12px Open-Sans-Regular;
    color: #484848;
    border-bottom: 1px solid rgba(72, 72, 72, 0.1);
    padding: 15px 20px 12px; }
  .table > tbody > tr {
    background: #fff !important; }
    .table > tbody > tr > td {
      border: 0;
      padding: 15px 20px 12px;
      word-wrap: break-word; }
    .table > tbody > tr:nth-child(even) {
      background: #f6f8fa !important; }

/* ------- style for bordered table --------*/
.custom-table {
  border: solid 1px #d8d8d8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px; }
  .custom-table .table > thead > tr > th {
    border-bottom: solid 1px #d8d8d8; }
  .custom-table td {
    color: #484848; }
  .custom-table tr .bold-col {
    font-family: Open-Sans-Bold; }
  .custom-table tr .light-col {
    color: rgba(72, 72, 72, 0.5); }

/* Hide table headers (but not display: none;, for accessibility) */
/*
  Label the data
  */
@media all and (max-width: 767px) {
  *:not(.xdsoft_calendar) > table {
    display: block; }
    *:not(.xdsoft_calendar) > table thead, *:not(.xdsoft_calendar) > table tbody, *:not(.xdsoft_calendar) > table th, *:not(.xdsoft_calendar) > table td, *:not(.xdsoft_calendar) > table tr {
      display: block; }
  .custom-table {
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0; }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr {
    border: 1px solid #eee; }
  .table > tbody > tr > td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    overflow: hidden;
    min-height: 48px; }
    .table > tbody > tr > td:before {
      position: absolute;
      top: 15px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap; }
  .table > tbody > tr > td.no-data {
    padding-left: 0 !important;
    margin-bottom: 0; }
  .project-data-table td:nth-of-type(1):before {
    content: "PROJECT TITLE"; }
  .project-data-table td:nth-of-type(2):before {
    content: "PROJECT IDENTIFIER"; }
  .expenditure-table td:nth-of-type(1):before, .incoming-fund-table td:nth-of-type(1):before {
    content: "DATE"; }
  .expenditure-table td:nth-of-type(2):before, .incoming-fund-table td:nth-of-type(2):before {
    content: "AMOUNT"; }
  .expenditure-table td:nth-of-type(2):before, .incoming-fund-table td:nth-of-type(2):before {
    content: "RECEIVER"; }
  .navbar-nav {
    margin: 0; } }

@media (max-width: 768px) {
  .container--shadow {
    margin: 20px; } }

@media (max-width: 480px) {
  .container--shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 0 20px; }
  .header-name-value .col-xs-6 {
    width: 100%;
    float: none; } }

/*# sourceMappingURL=maps/tz.style.css.map */
